<!DOCTYPE html>
<html lang="ko-KR">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<meta name="title" content="온비즈오피스" />
	<meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대" />
	<meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
	<meta name="keywords" content="가상오피스, 80평, 분할임대, 삼성역, 풀옵션,Onbiz Office" />
	<meta name="classification" content="소호사무실" />

	<!-- 오픈그래프 -->
	<meta property="og:title" content="온비즈오피스">
	<meta property="og:url" content="http://onbiz.co.kr">
	<meta property="og:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">
	<meta property="Description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
	<!-- twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="http://onbiz.co.kr">
	<meta name="twitter:title" content="온비즈오피스">
	<meta name="twitter:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
	<meta name="twitter:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">

	<!-- Android icon -->
	<link rel="shortcut icon" type="image/x-ico" href="http://img.onbiz.co.kr/favicon/icon128x128.png" />
	<!-- iPhone icon -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="57x57" href="http://img.onbiz.co.kr/favicon/icon57x57.png" />
	<!-- iPad icon -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="72x72" href="http://img.onbiz.co.kr/favicon/icon72x72.png" />
	<!-- iPhone icon(Retina) -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="114x114" href="http://img.onbiz.co.kr/favicon/icon114x114.png" />
	<!-- iPad icon(Retina) -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="144x144" href="http://img.onbiz.co.kr/favicon/icon144x144.png" />

	<title>온비즈결제페이지</title>

	<!-- <link rel="stylesheet" href="http://static.onbiz.co.kr/css/common_responsive.css" type="text/css">
    <link rel="stylesheet" href="http://static.onbiz.co.kr/css/info/info_responsive.css" type="text/css"> -->
	<link rel="stylesheet" href="http://static.onbiz.co.kr/css/common_renewal.css" type="text/css">
<!--	 <link rel="stylesheet" href="http://static.onbiz.co.kr/css/info/info2.css" type="text/css"> -->
	<link rel="stylesheet" href="../src/css/info/info2.css" type="text/css">

	<script src="http://static.onbiz.co.kr/js/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script src="http://static.onbiz.co.kr/js/common.js"></script>
	 <script src="http://static.onbiz.co.kr/src/js/info/info.js"></script> 
<!--	<script src="../src/js/common.js"></script>-->
<!--	<script src="../src/js/info/info.js"></script>-->

	<!-- ie9이하 html5, 미디어쿼리 작동 -->
	<!--[if lte IE 8]>
    <script type="text/javascript" src="http://static.onbiz.co.kr/js/html5shiv.js"></script>
    <script type="text/javascript" src="http://static.onbiz.co.kr/js/respond.min.js"></script>
  <![endif]-->

</head>

<body>
	<h1 class="hidden">온비즈오피스</h1>

	<div id="wrap">
		
		<!-- 상단 지역선택 추가 -->
		<div class="region_wrap">
			<div class="region_box clr">
				<p class="nth-1">온비즈오피스<span class="l_icon">ㅣ</span><span class="fc1">강남지점: 010-4429-3013, 010-4429-3019 &nbsp; / &nbsp; 강서지점: 010-4429-3023 (24시간 계약가능)</span></p>
				<p class="nth-2">
					<!--a href="http://gwangju.onbiz.co.kr" class="a1">광주<span>&gt;</span></a><a href="http://busan.onbiz.co.kr" class="a2">부산<span>&gt;</span></a-->
				</p>
			</div>
		</div>

		<!-- 헤더  -->
		<div class="h_wrap">
			<header id="header" class="clr">
				<h2 class="in">
					<a href="/"><img src="http://img.onbiz.co.kr/logo.gif" alt="온비트오피스로고"/></a>
				</h2>
				<div class="g_wrap">
					<nav id="gnb" class="clr">
						<h2><a href="#">가상오피스 임대신청 <span>&gt;</span></a></h2>
						<ul class="clr">
							<li><a href="#">임대 신청내역 확인 <span>&gt;</span></a></li>
						</ul>
					</nav>
					<p class="tel">가맹점 모집: 010-4429-3013</p>
				</div>
			</header>
		</div>
		<!-- 네비게이션 -->
		<nav id="nb" class="clr">
			<h2>가상오피스(비상주) 임대신청</h2>
			<ul class="clr">
				<li>01. 상품선택</li>
				<li class="on">02. 정보입력 및 계약서 서명</li>
				<li>03. 계약완료</li>

			</ul>
		</nav>
		
		<!--180129 팝업추가-->
		<script>
			var popDisplay = {
				hide: function(itm, itmBg) {
					//console.log('start');
					$(itm + "," + itmBg).hide();
					//console.log('end');
				}
			}
		</script>
		<div class="dropDown-bg" id="orderPopBg" style="display: block;"></div>
		<div class="orderPop" id="orderPop" style="display: block;">
			<div class="d-top">
				<h2>법인사업자등록순서</h2>
				<strong class="h-str">법인사업자의 경우, 아래의 순서로 진행하여야 사업자등록이 가능합니다.</strong><a href="javascript:;" onclick="popDisplay.hide('#orderPop', '#orderPopBg')" class="a-i-x a-x"></a>
			</div>
			<div class="d-cont">
				<ul class="orderList">
					<li><span class="s-nth">1. </span>대표자 명의로 임대차계약 진행</li>
					<li><span class="s-nth">2. </span>법인등기 진행</li>
					<li><span class="s-nth">3. </span>온비즈오피스에 "법인등기사항증명서" 전달<br>(문자or메일)하여 계약서 법인명의로 수정요청</li>
					<li><span class="s-nth">4. </span>수정완료안내 받은 후, 홈페이지에서 다운 및 인쇄</li>
					<li><span class="s-nth">5. </span>법인도장날인 후, 사업자등록진행</li>
				</ul>
			</div>
		</div>

		<!-- main영역 -->
		<section id="main">
			<h3><img src="http://img.onbiz.co.kr/info_mt.png" alt="임대계약에필요한정보를입력해주세요"></h3>
		</section>

		<!-- 콘텐츠 -->
		<div id="contents" class="contents">
			<!--카테고리 영역-->
			<section class="category">
				<ul class="clr">
					<li class="on">
						<h3><input id="new" type="radio" name="ctype" value="1" checked="checked" onclick="onbiz.company(0);"><label for="new"> 신규사업자 등록</label></h3>
						<p>개인 또는 법인 신규사업자 등록을 위해 사용합니다.</p>
					</li>
					<li>
						<h3><input id="hold" type="radio" name="ctype" value="2" onclick="onbiz.company(1);"><label for="hold"> 사업자 등록증 보유자</label></h3>
						<p>현재 사업자 등록증이 있으나, 주소 이전을 위해 사용합니다.</p>
					</li>
				</ul>
				<div class="st_wrap">
					<div class="selectBox">
						<input type="button" id="service2" class="s_btn" value="업종선택"><i><img src="http://img.onbiz.co.kr/f_icons.png" alt="아래로"></i></i>
						<ul>
							<li>건설업 </li>
							<li>전자상거래업 </li>
							<li>운수업 </li>
							<li>출판, 영상, 방송통신 및 정보서비스업 </li>
							<li>금융 및 보험업 </li>
							<li>부동산업 및 임대업 </li>
							<li>전문,과학 및 기술서비스업 </li>
							<li>사업시설관리 및 사업지원서비스업 </li>
							<li>교육서비스업 </li>
							<li>사회복지서비스업 </li>
							<li>예술, 스포츠 및 여가관련 서비스업 </li>
							<li>협회 및 단체, 수리 및 기타 </li>
							<li>개인서비스업</li>
							<li>기타컨설팅</li>
							<li>교육컨설팅</li>
							<li>
								<p>* 위에 기재되어 있지 않은 업종은 전화상담 부탁드립니다.<br>010-4429-3013(3019)</p>
							</li>
						</ul>
					</div>
					<!--<p>※ 정확한 업종을 모르실 경우, 사업 내용을 간략하게 작성해주시기 바랍니다.</p>-->
					<!--        <p>※ 정확한 업종을 모르시거나,<br>상기 업종 외(도소매업, 제조업 등)은 전화상담 후, 진행 부탁드립니다.</p>-->
					<br>
				</div>
			</section>
			<!--정보등록-->
			<div id="container">
				<section id="section1" class="manager">
					<h3>계약 명의자(임차인) 정보</h3>
					<p class="chec_p"><input type="checkbox" id="les1" onclick="info.copy(1);"><label for="les1">계약자와 동일함</label></p>
					<ul>
						<li>
							<label for="mng_name">성명</label>
							<input type="text" name="name" id="name" autocomplete="off">
						</li>
						<li class="m_jm">
							<label for="mng_jm">주민등록번호</label>
							<input type="text" name="ssn1" id="ssn1" class="mng_jm" onkeyup="etc.onlynum(this.value, this.id);" maxlength="6" autocomplete="off"><span>-</span><input type="text" name="ssn2" id="ssn2" maxlength="1" autocomplete="off">XXXXXX
						</li>
						<li>
							<label for="tel">연락처</label>
							<input type="text" name="tel" id="tel" onkeyup="etc.onlynum(this.value, this.id);" maxlength="11" placeholder="'-'없이 입력해주세요.">
						</li>
						<li>
							<label for="email">이메일 주소</label>
							<input type="text" name="email" id="email" placeholder="ex) abc@naver.com">
						</li>
						<li class="mTxt">※ 이메일주소를 정확하게 입력해주세요.</li>
						<li class="m_adr">
							<label for="address">주소</label>
							<input type="text" name="pcode" id="address" onclick="ebizPost.search_popup();" class="mng_adr" placeholder="우편번호" readonly="readonly" style="cursor:pointer;" autocomplete="off">
							<a href="javascript:ebizPost.search_popup();">우편번호 찾기</a>
						</li>
						<li class="m_emt">
							<label for="addr"></label>
							<input type="text" name="addr" id="addr" onclick="ebizPost.search_popup();" readonly="readonly" style="cursor:pointer;" autocomplete="off">
						</li>
						<li class="m_emt">
							<label for="addr2"></label>
							<input type="text" name="addr_sub" id="addr2" placeholder="상세주소입력" autocomplete="off">
						</li>
						<li class="m_plan">
							<label for="plan">사업계획</label>
							<textarea name="plan" id="plan" rows="4" placeholder="100자 이내로 간단히 입력해주세요."></textarea>
						</li>
						<li class="mTxt">
							<p class="p-1">
								사업계획을 간단히 입력해 주시면, 사업자등록 및 이전 시, 좀더 빠르고 원활한 처리가 가능합니다.
								<a href="javascript:;" class="a-btn" onclick="$('#planExPop2').show();">사업계획 예시</a>
							</p>

							<div class="planExPop" id="planExPop2">
								<p class="p-tit">사업계획 예시문 <a href="javascript:;" class="a-i-x a-x" onclick="$('#planExPop2').hide();"></a></p>
								<p class="p-txt dot">
									<span class="s-dot">1.</span> 본인은 핸드폰케이스 제작 및 인터넷쇼핑몰을 통해 판매할 예정
								</p>
								<p class="p-txt dot">
									<span class="s-dot">2.</span> 해당 사업체는 별도로 등촌동에 창고를 보유하고 있으며, 창고에서 주문한 고객에게 바로 발송함 / 해당사무실은 주문접수용도로 사용함
								</p>
								<p class="p-txt dot">
									<span class="s-dot">3.</span> 전화 및 인터넷주문을 받아 인터넷으로 구매하여, 발송하는 방식으로 운영계획
								</p>
								<p class="p-txt dot">
									<span class="s-dot">4.</span> 소프트웨어를 개발하여, 개인 또는 기업에 공급하는 사업
								</p>
								<p class="p-txt dot">
									<span class="s-dot">5.</span> 전화 또는 인터넷으로 접수받아, 홈페이지제작 및 제공하는 방식으로 운영
								</p>
								<p class="p-txt dot">
									<span class="s-dot">6.</span> 바이럴(블로그 등)을 통해 광고대행사업을 영위
								</p>
								<p class="p-txt dot">
									<span class="s-dot">7.</span> 창업 및 경영관련 컨설팅을 인터넷 또는 전화로 진행
								</p>
							</div>
						</li>
					</ul>
				</section>

				<!--사업자등록증 보우-->
				<section id="section2" class="manager lessee">
					<h3>계약 명의자(임차인) 정보</h3>
					<p><input type="checkbox" id="les2" onclick="info.copy(2);"><label for="les2">계약 신청인 정보와 동일함</label></p>
					<ul>
						<li>
							<label for="cname">대표자 성명</label>
							<input type="text" name="cname" id="cname">
						</li>
						<li>
							<label for="les_rep">상호(법인명)</label>
							<input type="text" name="company" id="les_rep">
						</li>
						<li class="l_snum">
							<label for="ccssn1">사업자등록번호</label>
							<input type="text" name="ccssn1" id="ccssn1" onkeyup="etc.onlynum(this.value, this.id);" maxlength="3" autocomplete="off" class="les_num"><span>-</span><input type="text" name="ccssn2" id="ccssn2" onkeyup="etc.onlynum(this.value, this.id);" maxlength="2" autocomplete="off"><span>-</span><input type="text" name="ccssn3" id="ccssn3" onkeyup="etc.onlynum(this.value, this.id);" maxlength="5" autocomplete="off">
						</li>
						<li>
							<label for="ctel">연락처</label>
							<input type="text" name="ctel" id="ctel" onkeyup="etc.onlynum(this.value, this.id);" maxlength="11" autocomplete="off" placeholder="'-'없이 입력해주세요.">
						</li>
						<li>
							<label for="cemail">이메일 주소</label>
							<input type="text" name="cemail" id="cemail" placeholder="ex) abc@naver.com">
						</li>
						<li class="mTxt">※ 이메일주소를 정확하게 입력해주세요.</li>
						<li class="m_adr">
							<label for="address">주소</label>
							<input type="text" name="cpcode" id="address" onclick="ebizPost.search_popup();" class="mng_adr" placeholder="우편번호" readonly="readonly" style="cursor:pointer;" autocomplete="off">
							<a href="javascript:ebizPost.search_popup();">우편번호 찾기</a>
						</li>
						<li class="m_emt">
							<label for="l_empt"></label>
							<input type="text" name="caddr" id="addr" class="more_addr" onclick="ebizPost.search_popup();" style="cursor:pointer;" readonly="readonly" autocomplete="off">
						</li>
						<li class="m_emt">
							<label for="addr2"></label>
							<input type="text" name="caddr_sub" id="addr2" class="more_addr" autocomplete="off" placeholder="상세주소입력">
						</li>

						<li class="m_plan">
							<label for="plan">사업계획</label>
							<textarea name="plan" id="plan" rows="4" placeholder="100자 이내로 간단히 입력해주세요."></textarea>
						</li>
						<li class="mTxt">
							<p class="p-1">
								사업계획을 간단히 입력해 주시면, 사업자등록 및 이전 시, 좀더 빠르고 원활한 처리가 가능합니다.
								<a href="javascript:;" class="a-btn" onclick="$('#planExPop2').show();">사업계획 예시</a>
							</p>

							<div class="planExPop" id="planExPop2">
								<p class="p-tit">사업계획 예시문 <a href="javascript:;" class="a-i-x a-x" onclick="$('#planExPop2').hide();"></a></p>
								<p class="p-txt dot">
									<span class="s-dot">1.</span> 본인은 핸드폰케이스 제작 및 인터넷쇼핑몰을 통해 판매할 예정
								</p>
								<p class="p-txt dot">
									<span class="s-dot">2.</span> 해당 사업체는 별도로 등촌동에 창고를 보유하고 있으며, 창고에서 주문한 고객에게 바로 발송함 / 해당사무실은 주문접수용도로 사용함
								</p>
								<p class="p-txt dot">
									<span class="s-dot">3.</span> 전화 및 인터넷주문을 받아 인터넷으로 구매하여, 발송하는 방식으로 운영계획
								</p>
								<p class="p-txt dot">
									<span class="s-dot">4.</span> 소프트웨어를 개발하여, 개인 또는 기업에 공급하는 사업
								</p>
								<p class="p-txt dot">
									<span class="s-dot">5.</span> 전화 또는 인터넷으로 접수받아, 홈페이지제작 및 제공하는 방식으로 운영
								</p>
								<p class="p-txt dot">
									<span class="s-dot">6.</span> 바이럴(블로그 등)을 통해 광고대행사업을 영위
								</p>
								<p class="p-txt dot">
									<span class="s-dot">7.</span> 창업 및 경영관련 컨설팅을 인터넷 또는 전화로 진행
								</p>
							</div>
						</li>
					</ul>
				</section>

				<div class="refund">
					<h3>※ 환불 계좌 정보 ※</h3>
					<p>계약 종료시 예치금 상환받으실 계좌정보 입력</p>
					<ul>
						<li>
							<label for="r_bank">은행명</label>
							<div class="selectBox">
								<input type="button" id="r_bank" class="s_btn" value="환불받으실 은행 선택"><i><img src="http://img.onbiz.co.kr/f_icons.png" alt="아래로"></i></i>
								<ul>
									<li>기업은행</li>
									<li>국민은행</li>
									<li>우리은행</li>
									<li>신한은행</li>
									<li>KEB하나은행</li>
									<li>농협은행</li>
									<li>SC은행</li>
									<li>한국씨티은행</li>
									<li>우체국</li>
									<li>새마을금고</li>
									<li>수협</li>
									<li>신협중앙회</li>
									<li>직접입력</li>
								</ul>
							</div>
						</li>
						<li><label for="r_acount">계좌번호</label> <input type="text" name="bank2" id="r_acount" placeholder="'-' 없이 입력해주세요."></li>
						<li><label for="r_name">예금주</label> <input type="text" name="bank3" id="r_name"></li>
					</ul>
					<p>&nbsp;</p>
					<p>※ 계약 명의자를 허위로 기재하거나, 임대인의 동의없이 사업자 등록을 하실 경우 관련 법에 의하여, 형사처벌을 받으실 수 있습니다.</p>
				</div>
			</div>

			<!-- <div class="nBtnBox">
		<a class="sign_Btn" href="javascript:info.check();">서명하기</a>
		<a class="upload_Btn" href="">도장업로드</a>
		<a class="next_Brn" href="">다음단계</a>
	</div> -->

			<a class="nBtn" href="javascript:info.check();">서명하기<i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a class="nBtn" href="javascript:info.check();">다음단계<i class="fa fa-angle-right" aria-hidden="true"></i></a>
		</div>
		<!-- 콘텐츠영역 끝 -->

		<!-- 푸터 -->
		<style type="text/css">
			#family_list {
				float: right;
				width: 120px;
				border: 1px solid #999999;
				max-height: 250px;
				display: none;
				position: absolute;
				bottom: 116px;
				border-bottom: none;
				background: #f3f1f1;
				padding: 5px 0px 0px 0px;
			}

			#family_list .fam_btn {
				padding: 0px 3px 0px 3px;
				cursor: hand;
				height: 20px;
				width: 120px;
			}

			.fam_btn_m {
				padding: 3px 3px 0px 3px;
				cursor: hand;
				height: 20px;
				border: 1px solid #999999;
			}

			.footerNotice {
				font-size: 12px;
				letter-spacing: -0.3px;
				color: #42454b;
				margin-bottom: 30px;
			}

			.footerNotice span {
				color: #ff5959;
				font-weight: 600;
			}

		</style>
		<div id="foot">
			<div class="f-area">
				<div class="f-top">
					<div class="policy">
						<!--
              <a href="#">이용약관</a>
              &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
              <a href="#"><b><font color="white">개인정보처리방침</font></b></a>
              &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
            -->
						<a href="/affiliate/">입점/제휴문의</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
						<a href="/info/guide.php#faq">고객센터</a> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
						<a href="/info/guide.php">임대신청</a>
					</div>
					<div id="family_site" style="float: right;width: 120px;text-align: left;font-size:12px;">
						<div class="fam_btn_m" style="border: 1px solid #999999;width:114px;" onclick="javascript:click_family();">
							<p style="color: #616161;font-weight: 600;">family site&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▲</p>
						</div>


						<ul id="family_list" style="max-height:none;display:none;width:120px;z-index:9999;">
							<li style="margin-top:10px;">
								<div class="fam_btn" style="font-weight:bold; color: #111111;">[ 부동산 ]</div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.monotower.com/" target="_blank" style="color: #111111;">모노타워</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.monopalace.com" target="_blank" style="color: #111111;">모노팰리스</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://partners.monopalace.com" target="_blank" style="color: #111111;">모노팰리스 파트너스</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.enasset.co.kr" target="_blank" style="color: #111111;">이엔자산개발</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.monocityvil.com" target="_blank" style="color: #111111;">모노씨티빌 등촌</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.ditower.co.kr" target="_blank" style="color: #111111;">DI타워</a></div>
							</li>
							<li>
								<div class="fam_btn"><b style="color:#ff0000;">온비즈 오피스</b></div>
							</li>
							<li style="margin-top:10px;">
								<div class="fam_btn" style="font-weight:bold; color: #111111;">[ 커머스 ]</div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.nurisoop.co.kr" target="_blank" style="color: #111111;">누리숲</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.entv.co.kr" target="_blank" style="color: #111111;">이엔티비</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.ssenflower.co.kr" target="_blank" style="color: #111111;">쎈플라워</a></div>
							</li>
							<li style="margin-top:10px;">
								<div class="fam_btn" style="font-weight:bold; color: #111111;">[ 서비스 ]</div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.daemon-tools.kr" target="_blank" style="color: #111111;">데몬툴즈</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.ancamera.co.kr/home/download_01.html" target="_blank" style="color: #111111;">안카메라</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.ancamera.co.kr/home/download_02.html" target="_blank" style="color: #111111;">안캠코더</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.startools.co.kr" target="_blank" style="color: #111111;">별툴즈</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.badakencoder.com" target="_blank" style="color: #111111;">바닥툴즈</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.nolzzang.com" target="_blank" style="color: #111111;">놀짱</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.pcclear.co.kr" target="_blank" style="color: #111111;">피씨클리어</a></div>
							</li>
							<li>
								<div class="fam_btn"><a href="http://www.ebiznetworks.co.kr" target="_blank" style="color: #111111;">이비즈네트웍스</a></div>
							</li>
						</ul>
					</div>
				</div>
				<div class="f-bottom">
					<div class="f-logo">
						Onbiz Office
					</div>
					<div class="address">
						<p>
							<strong>(주)이비즈네트웍스</strong><br>
							<span>
                  대표이사 : 박기범<br>
                  주소 : 서울특별시 강남구 테헤란로82길 15, 14층(대치동, 디아이타워)<br>
                사업자등록번호 : 220-87-30865            </span>
							<a href="javascript: window.open('http://ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2006322008330211501&amp;area1=&amp;area2=&amp;currpage=1&amp;searchKey=04&amp;searchVal=2208730865&amp;stdate=&amp;enddate=');"><img src="http://img.onbiz.co.kr/btn_copyinfo_gray.gif" alt="사업자정보확인"></a>
						</p>
						<div class="four-list">
							<img src="http://img.onbiz.co.kr/f_mark01.gif" alt="">
							<img src="http://img.onbiz.co.kr/f_mark02.gif" alt="">
							<img src="http://img.onbiz.co.kr/f_mark03.gif" alt="">
							<img src="http://img.onbiz.co.kr/f_mark04.gif" alt="">
						</div>
						<p class="copy">Copyright © EbizNetworks. All Rights Reserved.</p>
					</div>
					<ul class="customer">
						<li class="f_call">
							<p>고객상담</p>
							<strong>
                  010-4429-3013<br>
                  010-4429-3019
                </strong>
						</li>
						<li class="f_mail">
							<p>E-mail 문의</p>
							<a href="onbiz@ebiznetworks.co.kr">
                  <strong>
                    onbiz@<br>
                    ebiznetworks.co.kr
                  </strong>
                </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
