<!DOCTYPE html>
<html lang="ko-KR">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

  <meta name="title" content="온비즈오피스" />
  <meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대" /> 
  <meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <meta name="keywords" content="가상오피스, 80평, 분할임대, 삼성역, 풀옵션,Onbiz Office"/>
  <meta name="classification" content="소호사무실"/>

  <!-- 오픈그래프 -->
  <meta property="og:title" content="온비즈오피스">
  <meta property="og:url" content="http://onbiz.co.kr">
  <meta property="og:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">
  <meta property="Description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://onbiz.co.kr">
  <meta name="twitter:title" content="온비즈오피스">
  <meta name="twitter:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <meta name="twitter:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">

  <!-- Android icon -->
  <link rel="shortcut icon" type="image/x-ico" href="http://img.onbiz.co.kr/favicon/icon128x128.png" />
  <!-- iPhone icon -->
  <link rel="apple-touch-icon" type="image/x-ico" sizes="57x57" href="http://img.onbiz.co.kr/favicon/icon57x57.png" />
  <!-- iPad icon -->
  <link rel="apple-touch-icon" type="image/x-ico" sizes="72x72" href="http://img.onbiz.co.kr/favicon/icon72x72.png" />
  <!-- iPhone icon(Retina) -->
  <link rel="apple-touch-icon" type="image/x-ico" sizes="114x114" href="http://img.onbiz.co.kr/favicon/icon114x114.png" />
  <!-- iPad icon(Retina) -->
  <link rel="apple-touch-icon" type="image/x-ico" sizes="144x144" href="http://img.onbiz.co.kr/favicon/icon144x144.png" />

  <title>온비즈결제페이지</title>

  <!-- <link rel="stylesheet" href="http://static.onbiz.co.kr/css/common_renewal.css" type="text/css">
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/pay/pay2.css" type="text/css"> 
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/guide/guide2.css" type="text/css"> -->

	<link rel="stylesheet" href="../src/css/common_renewal.css" type="text/css">
  <link rel="stylesheet" href="../src/css/pay/pay2.css" type="text/css">
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/guide/banner.css">
	<!-- <link rel="stylesheet" href="http://static.onbiz.co.kr/css/guide/guide_renewal.css" type="text/css"> -->
	<link rel="stylesheet" href="../src/css/common_renewal.css" type="text/css">
  <script src="http://static.onbiz.co.kr/js/jquery-1.12.4.min.js" type="text/javascript"></script>
  <script src="http://static.onbiz.co.kr/js/guide/guide.js"></script>
  <!--<script src="http://static.onbiz.co.kr/js/common.js"></script>
	<script src="http://static.onbiz.co.kr/js/pay/pay.js"></script>-->
	<!-- <script src="http://static.onbiz.co.kr/src/js/pay/pay.js"></script> -->
	<!-- <script src="../../src/js/pay/pay.js"></script> -->

	<!-- ie9이하 html5, 미디어쿼리 작동 -->
  <!--[if lte IE 8]>
	<script type="text/javascript" src="http://static.onbiz.co.kr/js/html5shiv.js"></script>
	<script type="text/javascript" src="http://static.onbiz.co.kr/js/respond.min.js"></script>
  <![endif]-->

</head>
<body>


<!--FAQ 팝업-->
<div class="pop_wrap">		
	<div class="pop_wrap_bg_bk"></div>
		<div id="contents">	   
		  <section class="faq faqpop" id="faq" style="width:980px;left:0;">
			<h3>온비즈오피스 FAQ</h3>
			<a href="" class="close_pop_Btn"><img src="http://img.onbiz.co.kr/pop_btn.png" /></a>
			<ul class="f_table">
				<li>
					<div class="f_q">
						<span class="q_icon">Q.</span>
						<p>가상오피스 계약을 하려면 방문해야 하나요?</p>
					</div>
					<div class="f_a">
					<span class="a_icon">A.</span>
						<p>온비즈오피스는 직접 방문하시는 번거로움 없이 홈페이지에서 직접 신청 후 출력하여 이용하실 수 있습니다.</p>
					</div>
				</li>
				<li>
					<div class="f_q">
						<span class="q_icon">Q.</span>
						<p>직접 방문하지 않고 온라인으로 계약하려니 불안해요.</p>
					</div>
					<div class="f_a">
						<span class="a_icon">A.</span>
						<p>비즈오피스는 대치동 942-15번지 지하 3층 , 지상 15층 규모의 DI타워 건물주인 이비즈네트웍스가 직접 운영하고 있습니다.</p>
						<a class="mt link_btn lb1" href="#"><span class="s1">이비즈네트웍스</span><span class="s2">홈페이지 바로가기 <span>&gt;</span></span></a>
						<a class="link_btn lb2" href="#"><span class="s1">이비즈네트웍스</span><span class="s2">사업자 정보확인 <span>&gt;</span></span></a>
					</div>
				</li>
				<li>
					<div class="f_q">
						<span class="q_icon">Q.</span><p>온라인 만으로도 계약의 효력이 있나요?</p>
					</div>
					<div class="f_a">
						<span class="a_icon">A.</span>
						<p>사사업자 등록에는 주소지 및 임대차계약서가 필요합니다. 온비즈에서 제공하는 임대차계약서에는 2가지 모두 온라인으로 제공하여,</p>
						<p>고개님의 시간과 비용을 절약해 드립니다.</p>
						<h4 class="mt">계약 진행 순서</h4>
						<div class="co_box clr">
							<p class="co_p1"><img src="http://img.onbiz.co.kr/contract_order.png" alt="계약진행순서"></p>
							<p class="co_p2"><a href="http://img.onbiz.co.kr/contract_original.jpg"></a><span>임대차계약서 샘플</span></p>
						</div>
					</div>
				</li>
				<li>
					<div class="f_q">
						<span class="q_icon">Q.</span><p>주소는 어떻게 표시 되나요.</p>
					</div>
					<div class="f_a">
						<span class="a_icon">A.</span>
						<p>서울특별시 강남구 테헤란로 82길 15 디아이타워 00호(대치동) 으로 표시 됩니다.</p>
					</div>
				</li>
				<li>
					<div class="f_q">
						<span class="q_icon">Q.</span><p>옵션이라는게 어떤 것이 있나요.</p>
					</div>
					<div class="f_a">
						<span class="a_icon">A.</span>
						<p>온비즈오피스에서 제공하는 가상오피스(비상주)의 기본상품가격에 포함된 서비스는 사업자등록에 필요한 "주소" 제공 및 "임대차계약서" </p>
						<p>발행입니다. 고객님의 필요에 따라, 전화설치, 회의실 이용, 우편물발송 등의 옵션을 선택하실 수 있습니다.</p>
					</div>
				</li>
				<li>
					<div class="f_q">
						<span class="q_icon">Q.</span><p>우편물이 오면 어떻게 되나요?</p>
					</div>
					<div class="f_a">
						<span class="a_icon">A.</span>
							<p>등기 및 우편물(小사이즈 택배포함)은 저희가 수신하여 보관해 드립니다.</p>
							<p>온비즈 E/L홀에 위치한 우편함 중 배정받으신 호수를 찾아, 모아놓은 우편물을 가져가시면 됩니다.</p>
							<p>등기 및 小사이즈 택배는 확인절차 후, 돌려드리고 있으니 미리 연락하신 후, 방문부탁드립니다.</p>
							<p>무방문으로 우편물을 수신하고 싶으시다면 옵션에서 선택하실 수 있습니다. (건물개방시간 평일 8시~20시 / 점심시간 12:30 ~ 13:30)</p>
					</div>
				</li>
				<li>
					<div class="f_q">
						<span class="q_icon">Q.</span><p>우편물 보관기간은 얼마나 되나요?</p>
					</div>
					<div class="f_a">
						<span class="a_icon">A.</span>
						<p>우편물 보관기간은 수령일로부터 1개월입니다.(1개월 기간 내, 찾아가지 않으시면 폐기처리 합니다.)</p>
					</div>
				</li>
					<li>
					<div class="f_q">
						<span class="q_icon">Q.</span><p>세금계산서는 어떻게 발행 해 주시나요.</p>
					</div>
					<div class="f_a">
						<span class="a_icon">A.</span>
						<p>현금결제 : 매월 1회 계약일이 속한 금요일 전자발행</p>
						<p>카드결제 : 계약완료 후, 카드영수증 발행 (카드결제는 부가가치세법에 의거하여, 세금계산서 발행이 불가합니다.)</p>
					</div>
				</li>
				<li>
					<div class="f_q">
						<span class="q_icon">Q.</span><p>회의실사용은 어떻게 하나요?</p>
					</div>
					<div class="f_a">
						<span class="a_icon">A.</span>
						<p>사용기능시간 : 평일 9:00~18:00 / 늦어도 하루 전, 미리 전화 또는 문자로 예약 후, 이용 하루 이용제한시간 2시간입니다.</p>
						</div>
				</li>

			</ul>
		  </section>
		</div>

</div>
<!--FAQ 팝업끝-->

 <h1 class="hidden">온비즈오피스</h1>

 <!-- 배너 영역 -->
 <section class="r_banner">
  <a href="#faq" id="faq_b">
	<span class="b1">
	  <span>온비즈<br/>가상오피스<br/>(비상주)</span>
	</span>
	<span class="b2">
	  <span>FAQ로 궁금증<br/>해결하세요!</span>
	  <span class="p">자주묻는질문<br/><span class="h">FAQ보기<span>&gt;</span></span></span>
	</span>
  </a>
</section>
<div id="wrap">

  <!-- 상단 지역선택 추가 -->
  <div class="region_wrap">
	<div class="region_box clr">
	  <p class="nth-1">온비즈오피스 광주본점<span class="l_icon">ㅣ</span><span class="fc1">문의전화: 010-4429-3013, 010-4429-3019 (24시간)</span></p>
	  <p class="nth-2">
		<a href="" class="a1">광주<span>&gt;</span></a><a href="" class="a2">부산<span>&gt;</span></a>
	  </p>
	</div>
  </div>
  <!--top으로-->
  <div class="btntop ptr">
	<img src="http://img.go.co.kr/mobile/top.png" alt="위로가기">
  </div>


  <!-- 헤더  -->
  <div class="h_wrap">
	<header id="header" class="clr">
	  <h2 class="in">
		<a href="/"><img src="http://img.onbiz.co.kr/logo.gif" alt="온비트오피스로고"/></a>
	  </h2>
	  <div class="g_wrap">
		<nav id="gnb" class="clr">
		  <h2><a href="#">가상오피스 임대신청 <span>&gt;</span></a></h2>
		  <ul class="clr">
			<li><a href="#">임대 신청내역 확인 <span>&gt;</span></a></li>
		  </ul>
		</nav>
		<p class="tel">가맹점 모집: 010-4429-3013</p>
	  </div>
	</header>
  </div>

  <!--top으로-->
  <div class="btntop ptr">
	<img src="http://img.go.co.kr/mobile/top.png" alt="위로가기">
  </div>

  <!-- 네비게이션 -->
  <nav id="nb" class="clr">
	<h2>가상오피스 (비상주) 임대신청 임대신청</h2>
	<ul class="clr">
	  <li class="on">01. 상품선택</li>
	  <li>02. 정보입력 및 계약서 서명</li>
	  <li>03. 계약 완료</li>
	</ul>
  </nav>

  <!-- main영역 -->
  <section id="main0">
	<!--<h3><img src="http://img.onbiz.co.kr/guide_mt_2.png" alt="온비즈가상오피스(비상주)설명글"></h3>-->
	<h3><img src="http://img.onbiz.co.kr/guide_mt_3.png" alt="온비즈가상오피스(비상주)설명글"></h3>
	<ul class="mt_box clr">
	  <li class="mt_cell nth-1">전국 어디서나<br/>無방문 임대계약</li>
	  <li class="mt_cell nth-2">24시간<br/>전국 무방문</li>
	  <li class="mt_cell nth-3">24시간<br/>온라인계약 OK</li>
	  <li class="mt_cell nth-4">24시간<br/>계약서 OK</li>
	  <li class="mt_cell nth-5">우편물수신 OK<br/>사업자등록 OK</li>
	  <li class="mt_cell nth-6">강남대치동 주소<br/>강남 삼성세무서 관할</li>
	</ul>
  </section>

  

  <!--상세설명-->
  <section class="guide clr">
	<div>
	  <ul>
		<li><span></span><h2>가상오피스(비상주) 이용대상</h2></li>
		<li>- 강남에 위치한 규모있는 기업 이미지가 필요한 경우</li>
		<li>- 프리랜서, 투잡의 용도로 사업자등록이 필요한 경우</li>
		<li>- 사업자주소를 현재 있는 곳으로 등록하기 부담스럽거나,</li>
		<li>&nbsp; 주소 이전을 위해 잠시 이전해 놓을 주소가 필요한 경우</li>
		<li>- 해외에 거주 중 국내 사업을 위해 일시적으로 사업자 등록증이 <span>먼저 필요한 경우</span></li>
		<li>- 근린생활시설 및 주거시설용도의 사업자등록이 필요한 경우</li>
		<li>- 사업장 자택이 아닌 다른 곳에서 우편물을 받아야 되는 사업자</li>
	  </ul>
	</div>

	<div>
	  <ul>
		<li><span></span><h2>제공서비스</h2></li>
		<li>- 사업자등록증상의 주소지 제공(정식 임대차 계약서 제공)</li>
		<li>- 우편물 수신 및 포워딩 서비스</li>
		<li>- 우편함 제공</li>
		<li>- 대표 전화 및 착신전환 서비스</li>
		<li>- 회의실, 고객접견실, 카페테리아 이용</li>
		<li>- 법인설립에서 세무기장 강남 최저가 제공</li>
		<li>- 기업실사 시 독립 사무실 제공(2~3인실)</li>
	  </ul>
	</div>
  </section>
  <style>
  .faq_btn{width:980px;height:45px;margin:25px auto 0;text-align:center;border:1px solid #ddd;background:#FBF8F3;font-size:17px;color:#333;font-weight:600;position:relative;cursor:pointer;}
  .faq_btn p{display:inline-block;height:45px;line-height:45px;margin-right:3px;}
  .faq_btn span{display:inline-block;font-size:10px;font-weight:800;position:absolute;top:17px;}

  </style>
  <!--자주묻는 질문FAQ-->
  <div class="faq_btn"><p>자주묻는 질문FAQ 바로가기 </p><span>></span></div>

  <!--guide 추가-->
  <div id="wrap">
	<!-- 상단 지역선택 추가 -->

	<!-- main영역 -->
	<section id="main">
		<div class="top_application">
			<!--<p class="chec_p"><input type="checkbox" id="les1" onclick="info.copy(1);"><label for="les1">코어킹 사용자와 동일함</label></p>-->
			<ul class="">
				<li class="txt">가상오피스(비상주)<br>임대 신청하기</li>
				<li>
					<ul>
						<li><label>계약자 성명</label><input type="text" id="" name="" value="" /></li>
						<li><label>연락처</label><input type="text" id="" name="" value="" /></li>
					</ul>
				</li>
				<li class="line_class"></li>
				<li class="signBtn"><a href="">서명하기</a></li>
		  </ul>
		  <span>*계약자 :임대차 계약을 진행하는 사람(대표자가 직접 진행 시, 대표자분 정보입력 / 대리인 진행 시, 대리인 정보입력) </span>
		</div>
      <h3><img src="http://img.onbiz.co.kr/pay_mt.png" alt="임대상품을선택하고결제를진행해주세요"></h3>
	</section>

	<!-- 콘텐츠영역 -->
	<div id="contents">
	  <!--임대상품선택 영역-->
	  <section class="term">
		<h3>임대상품선택<span>(VAT별도)</span></h3>
		<ul class="clr t_table">
		  <li class="li-nth-1">
			<div class="table d-nth-1">
			  <p class="t_cell"><input type="radio" class="t_radio" name="term" id="t1"><span></span><label for="t1">1개월</label></p>
			</div>
			<div class="table d-nth-2">
			  <p class="t_cell">임대료</p>
			</div>
			<div class="table d-nth-3">
			  <p class="t_cell"><del>150,000원</del>80,000원</p>
			</div>
			<div class="table d-nth-4">
			  <p class="t_cell">월 8만원</p>
			</div>
			<div class="table d-nth-5">
			  <p class="t_cell"><span class="del">예치금</span> 80,000원</p>
			</div>
		  </li>
		  <li class="li-nth-2 on">
			<div class="table d-nth-1">
			  <p class="t_cell"><input type="radio" class="t_radio" name="term" id="t3" checked="checked"><span class="on"></span><label for="t3">3개월</label><span class="sale del">53%<br/><span>할인</span></span></p>
			</div>
			<div class="table d-nth-2">
			  <p class="t_cell">임대료</p>
			</div>
			<div class="table d-nth-3">
			  <p class="t_cell"><del>450,000원</del>210,000원</p>
			</div>
			<div class="table d-nth-4">
			  <p class="t_cell">월 7만원</p>
			</div>
			<div class="table d-nth-5">
			  <p class="t_cell"><span class="del">예치금</span> 80,000원</p>
			</div>
		  </li>
		  <li class="li-nth-3">
			<div class="table d-nth-1">
			  <p class="t_cell"><input type="radio" class="t_radio" name="term" id="t6"><span></span><label for="t6">6개월</label><span class="sale del">60%<br/><span>할인</span></span></p>
			</div>
			<div class="table d-nth-2">
			  <p class="t_cell">임대료</p>
			</div>
			<div class="table d-nth-3">
			  <p class="t_cell"><del>900,000원</del>360,000원</p>
			</div>
			<div class="table d-nth-4">
			  <p class="t_cell">월 6만원</p>
			</div>
			<div class="table d-nth-5">
			  <p class="t_cell"><span class="del">예치금</span> 80,000원</p>
			</div>
		  </li>
		  <li class="li-nth-4">
			<div class="table d-nth-1">
			  <p class="t_cell"><input type="radio" class="t_radio" name="term" id="t12"><span></span><label for="t12">12개월</label><span class="sale del">67%<br/><span>할인</span></span></p>
			</div>
			<div class="table d-nth-2">
			  <p class="t_cell">임대료</p>
			</div>
			<div class="table d-nth-3">
			  <p class="t_cell"><del>1,800,000원</del>600,000원</p>
			</div>
			<div class="table d-nth-4">
			  <p class="t_cell">월 5만원</p>
			</div>
			<div class="table d-nth-5">
			  <p class="t_cell"><span class="del">예치금</span> 80,000원</p>
			</div>
		  </li>
		  <li class="li-nth-5">
			<div class="table d-nth-1">
			  <p class="t_cell"><input type="radio" class="t_radio" name="term" id="t13"><span></span><label for="t13">24개월</label><span class="sale del">67%<br/><span>할인</span></span></p>
			</div>
			<div class="table d-nth-2">
			  <p class="t_cell">임대료</p>
			</div>
			<div class="table d-nth-3">
			  <p class="t_cell"><del>1,200,000원</del>1,200,000원</p>
			</div>
			<div class="table d-nth-4">
			  <p class="t_cell">월 5만원</p>
			</div>
			<div class="table d-nth-5">
			  <p class="t_cell"><span class="del">예치금</span> 80,000원</p>
			</div>
		  </li>
		</ul>
		<p class="ps"><span>※ 예치금이란?</span> 보증금 개념으로 계약 종료 시점에 <span>고객님 은행계좌로 전액 정산환급</span>해 드립니다.</p>
		<p class="ps2"><span>최초 결제시 1회 납부 하시게 되며, 결제수수료 2500원이 환산되어 결제</span>됨을 안내해 드립니다.</p>
		<p class="ps"><span>※비상주오피스(가상오피스)는</span>1개월 의무사용기간이 있으며, <span>중도취소시 1개월 임대료로 정산</span>됩니다.</p>
	  </section>
	  <!--옵션 추가 선택 영역-->
	<section class="option">
		<h3>옵션 추가 선택<span>※ 옵션 상품의 이용기간은 임대기간과 동일하게 적용됩니다.</span></h3>


		<ul class="clr">

			<li class="on">
				<p>
				 <input type="checkbox" name="option" id="o1" class="o_check" checked="checked"><span class="on"><img src="http://img.onbiz.co.kr/onb_picto.png" alt="체크"></span>
				 <label for="o1"></label>
			   </p>
			   <p>
				우편물 발송 및 등기수취
				<span>(발송비 별도)</span>
				  </p>
				  <p>
					월<span>10,000원</span>
				  </p>
			</li>

			<li>
			  <p class="empty"></p>
			  <p>
				전화번호 착신전환 신청
				<span>(신청을 원하시면, 전화문의 주세요)</span>
			  </p>
			  <p>
				시간당<span>10,000원</span>
			  </p>
			</li>
			<li>
			  <p class="empty"></p>
			  <p>
				4인 회의실 이용
				<span>(현장결제)</span>
			  </p>
			  <p>
				시간당<span>5,000원</span><br/>(1일 최대 2시간 이용)
			  </p>
			</li>
			
			<li>
			  <p class="empty"></p>
			  <p>
				8인 회의실 이용
				<span>(현장결제)</span>
			  </p>
			  <p>
				시간당<span>10,000원</span><br/>(1일 최대 2시간 이용)
			  </p>
			</li>    

			<li style="border-top:none;">
			  <p>

			  </p>
			  <p>
				복사기 이용(월150매)<br/>현장결제<br/>
			  </p>
			  <p>
				월<span>10,000원</span>
			  </p>
			</li>
		</ul>
		<p>※ 착신전환 및 유료주차 관련 금액안내와 서비스 신청을 원하시면, Tel) 010.4429.3013으로 문의전화 주시기바랍니다.</p>
	</section>
	<!--결제수단 선택 영역-->
	<section class="way">
	  <h3>결제수단 선택</h3>
	  <ul id="tab" class="clr">
		<li class="on">
		  <input type="radio" name="c_option" id="co1" class="co_check" checked="checked">
		  <span class="on"></span><label for="co1">신용카드(개인, 법인)</label>
		  <p>&#8226; 신용카드 간편결제로 별도의 설치없이 카드정보 입력만으로 간편하게 결제하세요.</p>
		</li>
	  </ul>

	  <p>※ 착신전환 및 유료주차 관련 금액안내와 서비스 신청을 원하시면, Tel) 010.4429.3013으로 문의전화 주시기바랍니다.</p>
	</section>
	<!--결제수단 선택 영역-->
	<section class="way">
	  <h3>결제수단 선택</h3>
	  <ul id="tab" class="clr">
		<li class="on">
		  <input type="radio" name="c_option" id="co1" class="co_check" checked="checked">
		  <span class="on"></span><label for="co1">신용카드(개인, 법인)</label>
		  <p>&#8226; 신용카드 간편결제로 별도의 설치없이 카드정보 입력만으로 간편하게 결제하세요.</p>
		</li>
	  </ul>
	</section>

	<!-- 이용약관 4가지 -->
	<section class="terms">
	  <ul class="clr">
		<li>
		  <input type="checkbox" name="terms" class="ts_check" id="ts1" checked="checked"><span class="on"><img src="http://img.onbiz.co.kr/onb_picto.png" alt="체크"></span><label for="ts1"></label><a href="https://plugin.inicis.com/html60/main/01_Information.html" target="_blank">전자금융거래 이용약관</a>
		</li>
		<li>
		  <input type="checkbox" name="terms" class="ts_check" id="ts2" checked="checked"><span class="on"><img src="http://img.onbiz.co.kr/onb_picto.png" alt="체크"></span><label for="ts2"></label><a href="https://plugin.inicis.com/html60/main/03_Information.html" target="_blank">개인정보의 수집 및 이용안내</a>
		</li>
		<li>
		  <input type="checkbox" name="terms" class="ts_check" id="ts3" checked="checked"><span class="on"><img src="http://img.onbiz.co.kr/onb_picto.png" alt="체크"></span><label for="ts3"></label><a href="https://plugin.inicis.com/html60/main/04_Information.html" target="_blank">개인정보 제공 및 위탁안내</a></li>
		  <li>
			<input type="checkbox" name="terms" class="ts_check" id="ts4" checked="checked"><span class="on"><img src="http://img.onbiz.co.kr/onb_picto.png" alt="체크"></span><label for="ts4"></label><a href="https://plugin.inicis.com/html60/main/07_Information.html" target="_blank">정기과금 이용약관</a>
		  </li>
		</ul>
	  </section>
	  <!--카드무이자할부혜택-->
	  <section class="card">
		<h3>&#42; 카드 무이자 할부 혜택</h3>
		<ul class="clr">
		  <li><p class="c01"></p><p>5만원이상</p><p>2~5개월</p></li>
		  <li class="even"><p class="c06"></p><p>5만원이상</p><p>2~5개월</p></li>
		  <li class="bn"><p class="c02"></p><p>5만원이상</p><p>2~5개월</p></li>
		  <li class="even bn"><p class="c07"></p><p>5만원이상</p><p>2~5개월</p></li>
		  <li class="bn"><p class="c03"></p><p>5만원이상</p><p>2~5개월</p></li>
		  <li class="even bn"><p class="c08"></p><p>5만원이상</p><p>2~5개월</p></li>
		  <li class="bn"><p class="c04"></p><p>5만원이상</p><p>2~5개월</p></li>
		  <li class="even bn"><p class="c09"></p><p>5만원이상</p><p>2~5개월</p></li>
		  <li class="bn lt"><p class="c05"></p><p>5만원이상</p><p>2~5개월</p></li>
		</ul>
		<p>&#42; 개인카드로 5만원 이상 결제시 적용</p>
		<p>&#42; 신용카드사 정책 변경에 따라 변동 될 수 있음</p>
		<p>&#42; 단, 삼성카드의 경우 50만원이상 결제시 공인인증서 필요</p>
	  </section>


		<!--결제하실 금액-->
	<aside class="price">
	  <div class="container" style="top:0;">
		<h3>결제하실 금액</h3>
		<ul class="p_startDate">
		  <li class="lt">
			<label for="p_date"><span>&#8226;</span>임대게시일</label>
			<div class="selectBox">
			  <input type="button" id="p_date" class="s_btn" value="2017년 02월 31일"><i class="calandar_icon"><img src="http://img.onbiz.co.kr/calandar_icon.png" alt="날짜선택"></i>
			</div>
		  </li>
		</ul>
		<ul class="p_term">
		  <li><p>&#8226;임대 기간</p><p>2017.08.31~2017.05.31 (3개월)</p></li>
		  <li class="lt">
			<p>&#8226;옵션 추가</p>
			<p>
			  <span>전화번호 착신전환 신청</span>
			  <span>회의실 및 카페테리아 이용권</span>
			  <span>우편물 발송 및 등기수취</span>
			  <span>복사기 이용</span>
			</p>
		  </li>
		</ul>
		<ul class="p_price">
		  <li><p>&#8226;임대정상가</p><p>300,000원</p></li>
		  <li><p>&#8226;예치금(보증금)</p><p>82,500원</p></li>
		  <li><p>&#8226;옵션(2개/3개월)</p><p>60,000원</p></li>
		  <li class="lt"><p>&#8226;임대가 할인(30% 할인)</p><p>-90,000원</p></li>
		</ul>
		<ul class="p_total">
		  <li><span>총 결제금액</span><p>(신용카드 결제)</p></li>
		  <li class="lt">
			<p>387,750원<span>(VAT포함)</span></p>
		  </li>
		</ul>
	  </div>
	  <p class="ps3" style="display:none;">예치금 <span>80,000</span>원은 계약종료시<br/>고객님 계좌로 환급해 드립니다.</p>
	  <!--결제하기 버튼-->

	  <p class="btn_wrap">
		<a class="p_btn" href="http://design.autopay.co.kr/joon/onbiz/info.html">결제하기</a>
	  </p>
	  <!--주의사항 및 약관동의-->
	  <div id="panel">
		<p><input type="checkbox" id="agree" checked="checked"><span class="on"><img src="http://img.onbiz.co.kr/onb_picto.png" alt="체크"></span><label for="agree">주의사항 및 약관 동의</label><i><img src="http://img.onbiz.co.kr/f_icons.png" alt="아래로"></i></p>
		<div class="txtara">
		  <ul>
			<li>주의사항 (체크박스 확인)</li>
			<li class="idt">■ 계약 만료 및 해지시 30일 이전에 당시에</li>
			<li>통보해야하며, 미통보시 해당 예고기간은 사용</li>
			<li>기간으로 간주되어 합상 청구됩니다.</li>
			<li class="idt">■ 할인이 적용된 계약인 경우, 중도 해지시,</li>
			<li>해당 기간동안 할인받은 총 금액은 정상금액</li>
			<li>으로 정산되어 반환청구됩니다.</li>
			<li class="idt">■업무지원 서비스 및 기타 서비스 비용을 당사가</li>
			<li>대납할 경우에는 10%의 서비스요금이 추가로</li>
			<li class="lt">부가됩니다.</li>
		  </ul>
		</div>
	  </div>
	</aside>

	</div>
	<!-- 콘텐츠영역 끝 -->




	<!-- 푸터 -->
	<footer id="footer">
	 <p>
	  (주)이비즈네트웍스 / 대표이사:박기범 / 사업자등록번호:220-87-30865 / 온비즈오피스 
	  <a href="#">사업자정보확인</a>
	</p>
	<address>
	  서울특별시 강남구 선릉로 99길 12, 4층 (역삼동, 모노타워) / TEL : 02-6255-3014 / EMAIL : onbiz@ebiznetworks.co.kr
	</address> 
	<p><small>Copyright ⓒ Ebiznetworks, All Rights Reserved.</small></p>
  </footer>
</div>
</body>
</html>
