<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

  <meta name="title" content="온비즈오피스" />
  <meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대" />
  <meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <meta name="keywords" content="가상오피스, 80평, 분할임대, 삼성역, 풀옵션,Onbiz Office" />
  <meta name="classification" content="소호사무실" />

  <!-- 오픈그래프 -->
  <meta property="og:title" content="온비즈오피스">
  <meta property="og:url" content="http://onbiz.co.kr">
  <meta property="og:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">
  <meta property="Description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="http://onbiz.co.kr">
  <meta name="twitter:title" content="온비즈오피스">
  <meta name="twitter:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
  <meta name="twitter:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">

  <!-- Android icon -->
  <link rel="shortcut icon" type="image/x-ico" href="http://img.onbiz.co.kr/favicon/icon128x128.png" />
  <!-- iPhone icon -->
  <link rel="apple-touch-icon" type="image/x-ico" sizes="57x57" href="http://img.onbiz.co.kr/favicon/icon57x57.png" />
  <!-- iPad icon -->
  <link rel="apple-touch-icon" type="image/x-ico" sizes="72x72" href="http://img.onbiz.co.kr/favicon/icon72x72.png" />
  <!-- iPhone icon(Retina) -->
  <link rel="apple-touch-icon" type="image/x-ico" sizes="114x114" href="http://img.onbiz.co.kr/favicon/icon114x114.png" />
  <!-- iPad icon(Retina) -->
  <link rel="apple-touch-icon" type="image/x-ico" sizes="144x144" href="http://img.onbiz.co.kr/favicon/icon144x144.png" />

  <title>온비즈결제페이지</title>

  <!-- <link rel="stylesheet" href="http://static.onbiz.co.kr/css/common_responsive.css" type="text/css">
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/info/info_responsive.css" type="text/css"> -->
  <link rel="stylesheet" href="http://static.onbiz.co.kr/css/common_renewal.css" type="text/css">
  <!-- <link rel="stylesheet" href="http://static.onbiz.co.kr/css/info/info2.css" type="text/css"> -->
  <link rel="stylesheet" href="../src/css/info/info2.css" type="text/css">

  <script src="http://static.onbiz.co.kr/js/jquery-1.12.4.min.js" type="text/javascript"></script>
  <script src="http://static.onbiz.co.kr/js/common.js"></script>
  <!-- <script src="http://static.onbiz.co.kr/src/js/info/info.js"></script> -->
  <script src="../../src/js/info/info_local.js"></script>

  <!-- ie9이하 html5, 미디어쿼리 작동 -->
  <!--[if lte IE 8]>
    <script type="text/javascript" src="http://static.onbiz.co.kr/js/html5shiv.js"></script>
    <script type="text/javascript" src="http://static.onbiz.co.kr/js/respond.min.js"></script>
  <![endif]-->

</head>

<body>
   <h1 class="hidden">온비즈오피스</h1>

  <div id="wrap">
    <!-- 상단 지역선택 추가 -->
    <div class="region_wrap">
      <div class="region_box clr">
        <p class="nth-1">온비즈오피스 광주본점<span class="l_icon">ㅣ</span><span class="fc1">문의전화: 010-4429-3013, 010-4429-3019 (24시간)</span></p>
        <p class="nth-2">
          <a href="" class="a1">광주<span>&gt;</span></a><a href="" class="a2">부산<span>&gt;</span></a>
        </p>
      </div>
    </div>

    <!-- 헤더  -->
    <div class="h_wrap">
      <header id="header" class="clr">
        <h2 class="in">
          <a href="/"><img src="http://img.onbiz.co.kr/logo.gif" alt="온비트오피스로고"/></a>
        </h2>
        <div class="g_wrap">
          <nav id="gnb" class="clr">
            <h2><a href="#">가상오피스 임대신청 <span>&gt;</span></a></h2>
            <ul class="clr">
              <li><a href="#">임대 신청내역 확인 <span>&gt;</span></a></li>
            </ul>
          </nav>
          <p class="tel">가맹점 모집: 010-4429-3013</p>
        </div>
      </header>
    </div>
    <!-- 네비게이션 -->
    <nav id="nb" class="clr">
      <h2>온비즈 오피스 임대신청</h2>
      <ul class="clr">
        <li>01. 상품선택</li>
        <li class="on">02. 정보입력 및 계약서 서명</li>
        <li>03. 계약완료</li>
  
      </ul>
    </nav>
    <!-- main영역 -->
    <section id="main">
      <h3><img src="http://img.onbiz.co.kr/info_cor.png" alt="임대계약에필요한정보를입력해주세요"></h3>
    </section>

    <!-- 콘텐츠 -->
    <div id="contents">
      <!--카테고리 영역-->
    
      </section>
      <!--정보등록-->
      <div id="container">
        <section id="section1" class="manager">
          <h3 class="cor_tit">코워킹 스페이스<br/>사용자 정보
      <div class="select_data">
      <label>임대 게시일 선택</label>
      <div>
        <input type="button" id="m_est" class="s_btn" value="2017-02-31">
        <i class="calandar_icon"><img src="http://img.onbiz.co.kr/calandar_icon.png" alt="날짜선택"></i>
      </div>
      </div>
    </h3>
    <!-- <p><input type="checkbox" id="les1" onclick="info.copy(1);"><label for="les1">코어킹 사용자와 동일함</label></p>-->
          <ul>
            <li>
              <label for="mng_name">성명</label>
        <input type="text" name="name" id="name" autocomplete="off">
            </li>
            <li class="m_jm">
              <label for="mng_jm">주민등록번호</label>
        <input type="text" name="ssn1" id="ssn1" class="mng_jm" onkeyup="etc.onlynum(this.value, this.id);" maxlength="6" autocomplete="off"><span>-</span><input type="text" name="ssn2" id="ssn2" maxlength="1" autocomplete="off">XXXXXX
            </li>
            <li>
              <label for="tel">연락처</label>
              <input type="text" name="tel" id="tel" onkeyup="etc.onlynum(this.value, this.id);" maxlength="11" placeholder="'-'없이 입력해주세요.">
            </li>
            <li>
              <label for="email">이메일 주소</label>
              <input type="text" name="email" id="email" placeholder="ex) abc@naver.com">
            </li>
            <li class="mTxt">※ 이메일주소를 정확하게 입력해주세요.</li>
            <li class="m_adr">
              <label for="address">주소</label>
              <input type="text" name="pcode" id="address" onclick="ebizPost.search_popup();" class="mng_adr" placeholder="우편번호" readonly="readonly" style="cursor:pointer;" autocomplete="off">
              <a href="javascript:ebizPost.search_popup();">우편번호 찾기</a>
            </li>
            <li class="m_emt">
              <label for="addr"></label>
              <input type="text" name="addr" id="addr" onclick="ebizPost.search_popup();" readonly="readonly" style="cursor:pointer;" autocomplete="off">
            </li>
            <li class="m_emt">
              <label for="addr2"></label>
              <input type="text" name="addr_sub" id="addr2" placeholder="상세주소입력" autocomplete="off">
            </li>
          </ul>
        </section>

 

    <div class="refund">
    <h3>※ 환불 계좌 정보 ※</h3>
    <p>계약 종료시 예치금 상환받으실 계좌정보 입력</p>
    <ul>
      <li>
        <label for="r_bank">은행명</label>
        <div class="selectBox">
          <input type="button" id="r_bank" class="s_btn" value="환불받으실 은행 선택"><i><img src="http://img.onbiz.co.kr/f_icons.png" alt="아래로"></i></i>
          <ul>
            <li>기업은행</li><li>국민은행</li><li>우리은행</li><li>신한은행</li><li>KEB하나은행</li><li>농협은행</li><li>SC은행</li><li>한국씨티은행</li><li>우체국</li><li>새마을금고</li><li>수협</li><li>신협중앙회</li>            <li>직접입력</li>
          </ul>
        </div>
      </li>
      <li><label for="r_acount">계좌번호</label> <input type="text" name="bank2" id="r_acount" placeholder="'-' 없이 입력해주세요."></li>
      <li><label for="r_name">예금주</label> <input type="text" name="bank3" id="r_name"></li>
    </ul>
    <p>&nbsp;</p>
    <p>※ 계약 명의자를 허위로 기재하거나, 임대인의 동의없이 사업자 등록을 하실 경우 관련 법에 의하여, 형사처벌을 받으실 수 있습니다.</p>
    </div>
      </div>
          
  <div class="nBtnBox03">
    <a class="sign_Btn" href="javascript:info.check();">서명하기</a>
    <a class="next_Brn" href="">다음단계</a>
  </div>
    </div>

  <h1 class="hidden">온비즈오피스</h1>

  <div id="wrap">


    <!-- main영역 -->
	<style>
		/* .top_application{width:950px;height:150px;padding-top:10px;margin-bottom:15px;background:#f5f5f5;border:1px solid #ddd;}
    .top_application > p.chec_p{width:950px;text-indent:107px;margin-bottom:6px;}
    .top_application > ul {width:898px;height:69px;margin:0 auto;}
    .top_application > ul > li{float:left;height:69px;}
    .top_application > ul > li.txt{width:200px;font-size:21px;font-weight:600;color:#333;line-height:28px;}
    .top_application > ul > li ul li {width:293px;height:30px;margin-bottom:5px;}
    .top_application > ul > li ul li > label {display:inline-block;width:88px;height:17px;font-size:15px;}
    .top_application > ul > li ul li > input{width:195px;height:30px;border:1px solid #757575;outline:none;-webkit-appearance:none;text-indent:10px;}
    .top_application > ul > li.line_class{width:1px;height:69px;border-left:1px solid #cacaca;}
    .top_application > ul > li.select_data{width:195px;margin:10px 0px 0px 10px; padding-top: 0;}
    .top_application > ul > li.select_data label {display:inline-block;width:195px;text-align:center;font-size:15px;}
    .top_application > ul > li.select_data .s_btn {font-size:15px;}
    .top_application > ul > li.select_data > div {position:relative;width:195px;height:36px;margin-top:3px;}
    .top_application > ul > li.select_data div .calandar_icon{position:absolute;width:17px;height:18px;display:inline-block;right:10px;top:8px;}
    .top_application > ul > li.signBtn a{display:inline-block;width:180px;height:69px;line-height:69px;margin-left:10px;text-align:center;background:#ff9000;color:#fff;font-size:18px;font-weight:600;}
    .top_application > span{display:inline-block;clear:both;width:898px;margin:0 auto;font-size:14px;font-weight:600;text-align:center;}
    .nBtnBox{width:980px;text-align:center;margin-top:15px;}
    .nBtnBox a{display:inline-block;width:268px;margin:0 10px;height:50px;line-height:50px;font-size:18px;font-weight:600;color:#fff;}
    .nBtnBox a.sign_Btn{background:#ff9000;}
    .nBtnBox a.upload_Btn{background:#ffb81e;}
    .nBtnBox a.next_Brn{background:#535353;margin-left:none;} */
	</style>
    <section id="main">
		<div class="top_application">
		<p class="chec_p"><input type="checkbox" id="les1" onclick="info.copy(1);"><label for="les1">코어킹 사용자와 동일함</label></p>
		  <ul class="">
			<li class="txt">가상오피스(비상주)<br>임대 신청하기</li>
			<li>
				<ul>
					<li><label>계약자 성명</label><input type="text" id="" name="" value="" /></li>
					<li><label>연락처</label><input type="text" id="" name="" value="" /></li>
				</ul>
			</li>
			<li class="line_class"></li>
			<li class="select_data">	
				<label>임대 게시일 선택</label>
				<div>
					<input type="button" id="m_est" class="s_btn" value="2017-02-31">
					<i class="calandar_icon"><img src="http://img.onbiz.co.kr/calandar_icon.png" alt="날짜선택"></i>
				</div>
			</li>
			<li class="signBtn"><a href="">서명하기</a></li>
		  </ul>
		  <span>*계약자 :임대차 계약을 진행하는 사람(대표자가 직접 진행 시, 대표자분 정보입력 / 대리인 진행 시, 대리인 정보입력) </span>
		</div>
      <h3><img src="http://img.onbiz.co.kr/info_mt.png" alt="임대계약에필요한정보를입력해주세요"></h3>
    </section>

    <!-- 콘텐츠 -->
    <div id="contents">
      <!--카테고리 영역-->
      <section class="category">
        <ul class="clr">
          <li class="on">
            <h3><input id="new" type="radio" name="ctype" value="1" checked="checked" onclick="onbiz.company(0);"><label for="new"> 신규사업자 등록</label></h3>
            <p>개인 또는 법인 신규사업자 등록을 위해 사용합니다.</p>
          </li>
          <li>
            <h3><input id="hold" type="radio" name="ctype" value="2" onclick="onbiz.company(1);"><label for="hold"> 사업자 등록증 보유자</label></h3>
            <p>현재 사업자 등록증이 있으나, 주소 이전을 위해 사용합니다.</p>
          </li>
        </ul>
        <div class="st_wrap">
          <div class="selectBox">
            <input type="button" id="service2" class="s_btn" value="업종선택"><i><img src="http://img.onbiz.co.kr/f_icons.png" alt="아래로"></i></i>
            <ul>
        <li>건설업 </li><li>전자상거래업 </li><li>운수업 </li><li>출판, 영상, 방송통신 및 정보서비스업 </li><li>금융 및 보험업 </li><li>부동산업 및 임대업 </li><li>전문,과학 및 기술서비스업 </li><li>사업시설관리 및 사업지원서비스업 </li><li>교육서비스업 </li><li>사회복지서비스업 </li><li>예술, 스포츠 및 여가관련 서비스업 </li><li>협회 및 단체, 수리 및 기타  </li><li>개인서비스업</li>              <li>직접입력</li>
            </ul>
          </div>
          <p>※ 정확한 업종을 모르실 경우, 사업 내용을 간략하게 작성해주시기 바랍니다.</p>
        </div>
      </section>
      <!--정보등록-->
      <div id="container">
        <section id="section1" class="manager">
          <h3>계약 명의자(임차인) 정보</h3>
      
          <ul>
            <li>
              <label for="mng_name">성명</label>
        <input type="text" name="name" id="name" autocomplete="off">
            </li>
            <li class="m_jm">
              <label for="mng_jm">주민등록번호</label>
        <input type="text" name="ssn1" id="ssn1" class="mng_jm" onkeyup="etc.onlynum(this.value, this.id);" maxlength="6" autocomplete="off"><span>-</span><input type="text" name="ssn2" id="ssn2" maxlength="1" autocomplete="off">XXXXXX
            </li>
            <li>
              <label for="tel">연락처</label>
              <input type="text" name="tel" id="tel" onkeyup="etc.onlynum(this.value, this.id);" maxlength="11" placeholder="'-'없이 입력해주세요.">
            </li>
            <li>
              <label for="email">이메일 주소</label>
              <input type="text" name="email" id="email" placeholder="ex) abc@naver.com">
            </li>
            <li class="mTxt">※ 이메일주소를 정확하게 입력해주세요.</li>
            <li class="m_adr">
              <label for="address">주소</label>
              <input type="text" name="pcode" id="address" onclick="ebizPost.search_popup();" class="mng_adr" placeholder="우편번호" readonly="readonly" style="cursor:pointer;" autocomplete="off">
              <a href="javascript:ebizPost.search_popup();">우편번호 찾기</a>
            </li>
            <li class="m_emt">
              <label for="addr"></label>
              <input type="text" name="addr" id="addr" onclick="ebizPost.search_popup();" readonly="readonly" style="cursor:pointer;" autocomplete="off">
            </li>
            <li class="m_emt">
              <label for="addr2"></label>
              <input type="text" name="addr_sub" id="addr2" placeholder="상세주소입력" autocomplete="off">
            </li>
          </ul>
        </section>

        <!--사업자등록증 보우-->
        <section id="section2" class="manager lessee">
          <h3>계약 명의자(임차인) 정보</h3>
          <p><input type="checkbox" id="les2" onclick="info.copy(2);"><label for="les2">계약 신청인 정보와 동일함</label></p>
          <ul>
            <li>
              <label for="cname">대표자 성명</label>
              <input type="text" name="cname" id="cname">
            </li>
            <li>
              <label for="les_rep">상호(법인명)</label>
              <input type="text" name="company" id="les_rep">
            </li>
            <li class="l_snum">
              <label for="ccssn1">사업자등록번호</label>
              <input type="text" name="ccssn1" id="ccssn1" onkeyup="etc.onlynum(this.value, this.id);" maxlength="3" autocomplete="off" class="les_num"><span>-</span><input type="text" name="ccssn2" id="ccssn2" onkeyup="etc.onlynum(this.value, this.id);" maxlength="2" autocomplete="off"><span>-</span><input type="text" name="ccssn3" id="ccssn3" onkeyup="etc.onlynum(this.value, this.id);" maxlength="5" autocomplete="off">
            </li>
            <li>
              <label for="ctel">연락처</label>
              <input type="text" name="ctel" id="ctel" onkeyup="etc.onlynum(this.value, this.id);" maxlength="11" autocomplete="off" placeholder="'-'없이 입력해주세요.">
            </li>
            <li>
              <label for="cemail">이메일 주소</label>
              <input type="text" name="cemail" id="cemail" placeholder="ex) abc@naver.com">
            </li>
            <li class="mTxt">※ 이메일주소를 정확하게 입력해주세요.</li>
            <li class="m_adr">
              <label for="address">주소</label>
        <input type="text" name="cpcode" id="address" onclick="ebizPost.search_popup();" class="mng_adr" placeholder="우편번호" readonly="readonly" style="cursor:pointer;" autocomplete="off">
              <a href="javascript:ebizPost.search_popup();">우편번호 찾기</a>
            </li>
            <li class="m_emt">
              <label for="l_empt"></label>
        <input type="text" name="caddr" id="addr" class="more_addr" onclick="ebizPost.search_popup();" style="cursor:pointer;" readonly="readonly" autocomplete="off"> 
            </li>
            <li class="m_emt">
              <label for="addr2"></label>
        <input type="text" name="caddr_sub" id="addr2" class="more_addr" autocomplete="off" placeholder="상세주소입력">
            </li>
          </ul>
        </section>

    <div class="refund">
    <h3>※ 환불 계좌 정보 ※</h3>
    <p>계약 종료시 예치금 상환받으실 계좌정보 입력</p>
    <ul>
      <li>
        <label for="r_bank">은행명</label>
        <div class="selectBox">
          <input type="button" id="r_bank" class="s_btn" value="환불받으실 은행 선택"><i><img src="http://img.onbiz.co.kr/f_icons.png" alt="아래로"></i></i>
          <ul>
            <li>기업은행</li><li>국민은행</li><li>우리은행</li><li>신한은행</li><li>KEB하나은행</li><li>농협은행</li><li>SC은행</li><li>한국씨티은행</li><li>우체국</li><li>새마을금고</li><li>수협</li><li>신협중앙회</li>            <li>직접입력</li>
          </ul>
        </div>
      </li>
      <li><label for="r_acount">계좌번호</label> <input type="text" name="bank2" id="r_acount" placeholder="'-' 없이 입력해주세요."></li>
      <li><label for="r_name">예금주</label> <input type="text" name="bank3" id="r_name"></li>
    </ul>
    <p>&nbsp;</p>
    <p>※ 계약 명의자를 허위로 기재하거나, 임대인의 동의없이 사업자 등록을 하실 경우 관련 법에 의하여, 형사처벌을 받으실 수 있습니다.</p>
    </div>
      </div>
          
	<div class="nBtnBox">
		<a class="sign_Btn" href="javascript:info.check();">서명하기</a>
		<a class="upload_Btn" href="">도장업로드</a>
		<a class="next_Brn" href="">다음단계</a>
	</div>

    <!-- <a class="nBtn" href="javascript:info.check();">서명하기<i class="fa fa-angle-right" aria-hidden="true"></i></a> -->
    </div>
    <!-- 콘텐츠영역 끝 -->

    <!-- 푸터 -->
    <footer id="footer">
      <p>
        (주)이비즈네트웍스 / 대표이사:박기범 / 사업자등록번호:220-87-30865 / 온비즈오피스
        <a href="#">사업자정보확인</a>
      </p>
      <address>
				서울특별시 강남구 선릉로 99길 12, 4층 (역삼동, 모노타워) / TEL : 02-6255-3014 / EMAIL : onbiz@ebiznetworks.co.kr
			</address>
      <p><small>Copyright ⓒ Ebiznetworks, All Rights Reserved.</small></p>
    </footer>
  </div>
</body>

</html>