@charset 'utf-8';

/* 헤더영역 */
.headerOrigin {position: relative; width: 100%;height: 50px;background: #fff; border-bottom: 2px solid #4c4c4c;}

/*자주묻는 질문 FAQ*/
.faq {position: relative; width: 98%; margin: 20px auto; padding: 10px 5px; border: 1px solid #ddd; background: #FBF8F3;}
.faq > h3 {font-size: 16px; color: #333; padding: 0 0 3px 0px; border-bottom: 3px solid #666;}
.faq .f_table {position: relative;}
.f_table > li {border-bottom: 1px solid #bdbdbd;}
.f_q, .f_a {position: relative; padding: 12px 5px 11px 22px; letter-spacing: -1px;}
.f_q {cursor: pointer; font-weight: 600; font-size: 15px; color: #363636;}
.f_a { display: none; color: #444; padding-top: 0; line-height: 1.4em; font-size: 14px; letter-spacing: -1px;}
.q_icon, .a_icon {position: absolute; display: inline-block; color: #ff9000; text-align: center; left: 2px; line-height: 1.3em; font-size: 18px; font-weight: 400; font-family: Helvetica, "NanumBarunGothic", "NanumGothic", sans-serif; }
.q_icon {top: 10px;}
.a_icon {/* background: #ff9000; */ color: #333; top: -1px;}

.f_a .link_btn {display: inline-block; letter-spacing: 0; padding: 5px 10px; color: #fff; border-radius: 2px;}
.f_a .link_btn.lb1 {background: #ff9000; margin-right: 5px;}
.f_a .link_btn.lb2 {background: #444;}
.f_a .link_btn .s1, .f_a .link_btn .s2 {display: block;}
.f_a .link_btn .s1 {font-size: 11px; height: 15px;}
.f_a .link_btn .s2 {font-size: 13px;}
.f_a .link_btn .s2 > span {position: relative; font-size: 10px; top: -1px; font-weight: 600;}
.f_a .mt {margin-top: 17px;}

.f_a .co_box {position: relative; margin: 10px 0 20px;}
.f_a .co_box > p {float: left; position: relative;}
.f_a .co_p1 img {width: 102%;}
.f_a .co_p2 {text-align: center; margin-top: 20px; margin-left: 20px;}
.f_a .co_p2 > a {display: block; width: 165px; height: 222px; background: url("http://img.onbiz.co.kr/contract_hover.png"); margin: 0 auto;}
.f_a .co_p2 > span {display: block; margin-top: 5px;}

