<!DOCTYPE html>
<html lang="ko-KR"><head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

	<meta name="title" content="온비즈오피스">
	<meta name="subject" content="가상오피스 1인실에서 80평까지 분할임대">
	<meta name="description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
	<meta name="keywords" content="가상오피스, 80평, 분할임대, 삼성역, 풀옵션,Onbiz Office">
	<meta name="classification" content="소호사무실">

	<!-- 오픈그래프 -->
	<meta property="og:title" content="온비즈오피스">
	<meta property="og:url" content="http://onbiz.co.kr">
	<meta property="og:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">
	<meta property="Description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
	<!-- twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="http://onbiz.co.kr">
	<meta name="twitter:title" content="온비즈오피스">
	<meta name="twitter:description" content="가상오피스 1인실에서 80평까지 분할임대, 삼성역 풀옵션 Onbiz Office">
	<meta name="twitter:image" content="http://img.onbiz.co.kr/images/og_onbiz.jpg">

	<!-- Android icon -->
	<link rel="shortcut icon" type="image/x-ico" href="http://img.onbiz.co.kr/favicon/icon128x128.png">
	<!-- iPhone icon -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="57x57" href="http://img.onbiz.co.kr/favicon/icon57x57.png">
	<!-- iPad icon -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="72x72" href="http://img.onbiz.co.kr/favicon/icon72x72.png">
	<!-- iPhone icon(Retina) -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="114x114" href="http://img.onbiz.co.kr/favicon/icon114x114.png">
	<!-- iPad icon(Retina) -->
	<link rel="apple-touch-icon" type="image/x-ico" sizes="144x144" href="http://img.onbiz.co.kr/favicon/icon144x144.png">

	<title>온비즈안내페이지</title>

	<link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css">

	<!--<link rel="stylesheet" href="http://static.onbiz.co.kr/css/m/common_renewal_m.css" type="text/css">
	<link rel="stylesheet" href="http://static.onbiz.co.kr/css/m/guide/guide_renewal_m.css" type="text/css">-->
	<link rel="stylesheet" href="../../src/css/m/common_renewal_m.css" type="text/css">
	<link rel="stylesheet" href="../../src/css/m/guide/guide2_m.css" type="text/css">
	
	
	<link rel="stylesheet" href="http://static.go.co.kr/css/jquery-ui.css">
	<script src="http://static.onbiz.co.kr/js/jquery-1.12.4.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/jquery_ui.js"></script>
	<script type="text/javascript" src="http://static.go.co.kr/js/datepicker_ko.js"></script>
	<script src="http://static.onbiz.co.kr/js/m/script.js"></script>
	<script src="http://static.onbiz.co.kr/js/m/common_m.js"></script>
	<script src="http://static.onbiz.co.kr/js/m/guide/guide_m.js"></script>

	<!-- ie9이하 html5, 미디어쿼리 작동 -->
<!--[if lte IE 8]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript">
	$(function() {
		$("#m_est").datepicker({
			dateFormat:"yy-mm-dd",
			showAnim:"slideDown",
			dayNamesMin:["일","월","화","수","목","금","토"],
			minDate: 0,
			maxDate: 3,
			changeMonth: true,
			changeYear: true,
			onSelect: function(){	
				val = this.value;
				$("#m_est").val(val);
				$("input[name='date']").val(val);
			}
		});
	});
</script>
</head>

<body>
	<h1 class="hidden">온비즈오피스</h1>

	<div id="wrap">
		<!--모바일 팝업 배경 백드랍-->
		<div id="backDrop"></div>
		<!-- 모바일 헤더 -->
		<header class="headerOrigin m_private">
			<h2><a href="./index.html">Onbiz Office</a><a class="nav_tab" href="#faq">자주묻는 질문 FAQ <i class="fa fa-angle-right" aria-hidden="true"></i></a></h2>
		</header>
		<!--모바일 top으로-->
		<div class="btntop ptr" style="display: none;">
			<img src="http://img.go.co.kr/mobile/top.png" alt="위로가기">
		</div>

		<!-- main영역 -->
<section id="main">
	<h3><img src="http://img.onbiz.co.kr/guide_mt.png" alt="온비즈가상오피스(비상주)설명글"></h3>
	<div class="m_private mTxt">
		<h3>가상오피스(비상주)</h3>
		<p class="mt"><span class="bl">온비즈 가상오피스(비상주)는 <span class="fc">사무실은 필요없지만,</span></span>
			<span class="bl2"><span class="bl"><span class="fc">사업장 주소가 필요하신 고객</span>님께</span>
			<span class="bl">사업자등록에 필요한 임대차 계약서를 온라인을 통해</span></span>
			24시간 언제든지 신청 및 출력 가능하도록 지원해드립니다.
		</p>
	</div>
	<ul class="clr">
		<li>전국 어디서나<br>無방문 임대계약</li>
		<li>24시간<br>전국 무방문</li>
		<li>24시간<br>온라인계약 OK</li>
	</ul>
	<ul class="clr">
		<li>24시간<br>계약서출력 OK</li>
		<li>우편물수신 OK!<br>사업자등록 OK!</li>
		<li class="lt">강남 대치동 주소<br>강남 삼성세무서 관할</li>
	</ul>
</section>

<!-- 콘텐츠 -->
<div id="contents">

	<!--정보등록-->
	<form name="iform" method="post" action="payment.php">
		<input type="hidden" name="date" value="2017-09-22">
		<div class="container">
			<section class="c_form">
				<h3>가상오피스(비상주)<span>임대 신청하기</span></h3>
				<ul>
					<li><label for="mng_name">계약자 성명</label><input type="text" name="name" id="mng_name"></li>
					<li><label for="mng_num">연락처</label><input type="number" name="tel" id="mng_num" placeholder="'-'없이 입력해주세요." pattern="[0-9]*" inputmode="numeric"></li>
				</ul>
				<div class="select_wrap">
					<label for="m_est">임대 게시일 <span>선택</span></label><div class="selectBox"><input type="text" id="m_est" class="s_btn hasDatepicker" value="2017-09-22" readonly=""><i class="calandar_icon"><img src="http://img.onbiz.co.kr/calandar_icon.png" alt="날짜선택"></i></div>
				</div>
				<a class="nBtn" href="javascript:pay.simple();">임대 신청하기<i><img src="http://img.onbiz.co.kr/f_icons.png" alt="아래로"></i></a>
			</section>
		</div>
	</form>

	<!--상세설명-->
	<section class="guide clr">
		<div>
			<ul>
				<li><span></span><h2>가상오피스(비상주) 이용대상</h2></li>
				<li>- 강남에 위치한 규모있는 기업 이미지가 필요한 경우</li>
				<li>- 프리랜서, 투잡의 용도로 사업자등록이 필요한 경우</li>
				<li>- 사업자주소를 현재 있는 곳으로 등록하기 부담스럽거나,</li>
				<li>&nbsp; 주소 이전을 위해 잠시 이전해 놓을 주소가 필요한 경우</li>
				<li>- 해외에 거주 중 국내 사업을 위해 일시적으로 사업자 등록증이 <span>먼저 필요한 경우</span></li>
				<li>- 근린생활시설 및 주거시설용도의 사업자등록이 필요한 경우</li>
				<li>- 사업장 자택이 아닌 다른 곳에서 우편물을 받아야 되는 사업자</li>
			</ul>
		</div>
		<div>
			<ul>
				<li><span></span><h2>제공서비스</h2></li>
				<li>- 사업자등록증상의 주소지 제공(정식 임대차 계약서 제공)</li>
				<li>- 우편물 수신 및 포워딩 서비스</li>
				<!--170922 텍스트수정-->
				<li>- 우편함 제공</li>
				<li>- 대표 전화 착신전환 서비스</li>
				<li>- 회의실, 고객접견실, 카페테리아 이용</li>
				<li>- 법인설립에서 세무기장 강남 최저가 제공</li>
				<li>- 기업실사 시 독립 사무실 제공(2~3인실)</li>
			</ul>
		</div>
	</section>
	<!--자주묻는 질문FAQ-->
	<section class="faq" id="faq">
		<h3>온비즈오피스 FAQ</h3>
		<ul class="f_table">
			<li>
				<div class="f_q">
					<span class="q_icon">Q.</span>
					<p>가상오피스 계약을 하려면 방문해야 하나요?</p>
				</div>
				<div class="f_a">
					<span class="a_icon">A.</span>
					<p>온비즈의 가상오피스는 직접 방문하시는 번거로움 없이 홈페이지에서 직접 신청 후 출력하여 이용하실 수 있습니다.</p>
				</div>
			</li>
			<li>
				<div class="f_q">
					<span class="q_icon">Q.</span>
					<p>직접 방문하지 않고 온라인으로 계약하려니 불안해요.</p>
				</div>
				<div class="f_a">
					<span class="a_icon">A.</span>
					<p>온비즈오피스는&nbsp;대치동&nbsp;942-15번지&nbsp;지하&nbsp;3층&nbsp;,&nbsp;지상&nbsp;15층&nbsp;규모의&nbsp;DI타워&nbsp;건물주인&nbsp;이비즈네트웍스가&nbsp;직접&nbsp;운영하고&nbsp;있습니다.</p>
					<a class="mt link_btn lb1" href="http://www.ebiznetworks.co.kr" target="_blank"><span class="s1">이비즈네트웍스</span><span class="s2">홈페이지 바로가기 <span>&gt;</span></span></a>
					<a class="link_btn lb2" href="http://ftc.go.kr/info/bizinfo/communicationView.jsp?apv_perm_no=2006322008330211501&amp;area1=&amp;area2=&amp;currpage=1&amp;searchKey=04&amp;searchVal=2208730865&amp;stdate=&amp;enddate=" target="_blank"><span class="s1">이비즈네트웍스</span><span class="s2">사업자 정보확인 <span>&gt;</span></span></a>
				</div>
			</li>
			<li>
				<div class="f_q">
					<span class="q_icon">Q.</span><p>온라인 만으로도 계약의 효력이 있나요?</p>
				</div>
				<div class="f_a">
					<span class="a_icon">A.</span>
					<p>사업자 등록에는 주소지 및 임대차계약서가 필요합니다. 온비즈에서 제공하는 임대차계약서에는 2가지 모두 온라인으로 제공하여,</p>
					<p>고개님의 시간과 비용을 절약해 드립니다.</p>
					<h4 class="mt">계약 진행 순서</h4>
					<div class="co_box clr">
						<p class="co_p1"><img src="http://img.onbiz.co.kr/contract_order_m.png" alt="계약진행순서"></p>
						<p class="co_p2"><a href="http://img.onbiz.co.kr/contract_original.jpg" target="_blank"></a><span>임대차계약서 샘플</span></p>
					</div>
				</div>
			</li>
			<li>
				<div class="f_q">
					<span class="q_icon">Q.</span><p>주소는 어떻게 표시 되나요.</p>
				</div>
				<div class="f_a">
					<span class="a_icon">A.</span>
					<p>서울특별시 강남구 테헤란로 82길 15 디아이타워 00층 00호(대치동) 으로 표시 됩니다.</p>
				</div>
			</li>
			<li>
				<div class="f_q">
					<span class="q_icon">Q.</span><p>옵션이라는게 어떤 것이 있나요.</p>
				</div>
				<div class="f_a">
					<span class="a_icon">A.</span>
					<p>온비즈오피스에서 제공하는 가상오피스(비상주)의 기본상품가격에 포함된 서비스는 사업자등록에 필요한 "주소" 제공 및 "임대차계약서" 발행입니다. 고객님의 필요에 따라, 전화설치, 회의실 이용, 우편물발송 등의 옵션을 선택하실 수 있습니다.</p>
				</div>
			</li>
			<li>
				<div class="f_q">
					<span class="q_icon">Q.</span><p>우편물이 오면 어떻게 되나요?</p>
				</div>
				<div class="f_a">
					<span class="a_icon">A.</span>
					<p>등기 및 우편물(택배포함)은 저희가 수신하여 안전하게 보관해 드립니다. 언제든 방문하여 주시면, 모아놓은 우편물을</p>
					<p>확인 절차 후 돌려 드립니다. 무방문으로 우편물을 수신하고 싶으시다면 옵션에서 선택하실 수 있습니다.</p>
				</div>
			</li>
			<li>
				<div class="f_q">
					<span class="q_icon">Q.</span><p>세금계산서는 어떻게 발행 해 주시나요.</p>
				</div>
				<div class="f_a">
					<span class="a_icon">A.</span>
					<p>현금결제 : 매월 1회 계약일이 속한 금요일 전자발행</p>
					<p>카드결제 : 계약완료 후, 카드영수증 발행 (카드결제는 부가가치세법에 의거하여, 세금계산서 발행이 불가합니다.)</p>
				</div>
			</li>
		</ul>
	</section>




</div>
<!-- 콘텐츠영역 끝 -->

<!-- 푸터 -->
<footer class="footer">
	<ul class="info">
		<li>(주)이비즈네트웍스 / 대표이사:박기범</li>
		<li>사업자등록번호:220-87-30865</li>
		<li>서울특별시 강남구 테헤란로82길 15, 14층(대치동, 디아이타워)</li>
		<li>TEL : 02-6255-3014 / EMAIL : onbiz@ebiznetworks.co.kr</li>

		<li><small>Copyright ⓒ Ebiznetworks, All Rights Reserved.</small></li>
	</ul>
</footer>
<!--푸터끝 -->


</div>




<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div></body><whale translate="no"></whale></html>