@charset "utf-8";


/* 모바일 시작 ------------------------------------------------------------------ */
.m_private {display: block;}
/*헤더*/
.headerOrigin {border-bottom: 4px solid #4c4c4c; padding-top: 18px;}
.headerOrigin h2 span {float:right; position: relative; font-size: 16px; top: 10px; }

#main, #contents {position: relative; width: 100%; color: #333;}

#main {padding: 15px 0; margin: 0; border-bottom: 1px solid #ccc;}
#main .mTxt {text-align: center; line-height: 1.4em;} 
#main .mTxt span {color: #F52700;} 

/*콘텐츠*/
#contents > section {position: relative; width: 100%; left: 0px;}
#contents > section > h3 {font-size: 18px; padding: 15px 0px 12px; font-weight: 800;}
#contents > section:first-child > h3 {padding-top: 15px;}
#contents {padding: 0 5px;} 
/*임대상품선택*/
input[type="radio"].t_radio + span + label {margin-right: 4px;}
.term h3 span {position: relative; top: 6px;font-size: 13px; float: right; color: #444; font-weight: 400;}
.term .t_table {position: relative; width: 100%;}
.term .t_table li {display: table; width: 100%; height: auto; border: 1px solid #ccc; cursor: pointer;}
.term .t_table li {border-bottom: none;}
.term .t_table li.li-nth-1 {border-top: none;}
.term .t_table li.li-nth-5 {border-bottom: 1px solid #ccc;}
.term .t_table li.li-nth-4 .t_cell {padding-left: 0px;}

.term .table {position: relative; display: table-cell; width: auto; vertical-align: middle; border-left: 1px solid #ccc; letter-spacing: -1px; font-weight: 600;}
.term .table .t_cell {width: 100%; display: block; height: 50px; text-align: center;}
.term .table.d-nth-1 {width: 30%; font-size: 18px; border-left: none;}
.term .table.d-nth-3 {width: 47%; border-left: none;}
.term .table.d-nth-4 {width: 23%;}
.term .table.d-nth-1 .t_cell, 
.term .table.d-nth-3 .t_cell, 
.term .table.d-nth-4 .t_cell {height: auto; padding: 8px 0;}
.term .table.d-nth-1 .t_cell {background: none;}
.term .table.d-nth-3 del {/* display: block; */ font-size: 13px; color: #888; font-weight: 400; letter-spacing: 0;}
.term .table.d-nth-1 .t_cell, 
.term .table.d-nth-2 .t_cell, 
.term .table.d-nth-3 .t_cell, 
.term .table.d-nth-4 .t_cell 
{font-size: 16px;}
.term .table.d-nth-3 .sale {display: inline-block; position: relative; background: #f52700; color: #fff; font-size: 13px; padding: 2px 4px 3px; margin-left: 3px; top: -1px;}
.term .table.d-nth-3 .t_cell {font-weight: 600;}
.term .table.d-nth-3 .tc_price {display: block;}
.term .table.d-nth-3 .tc_price .tc_price_m {margin-left: 3px; font-size: 14px; font-weight: 600;}

/*클릭시*/
.term .t_table li.on {border: 2px solid #ff9000; width: 100%; margin-left: 0; background: #FFF5D2;}
.term .t_table li.on + li {border-top: none;}
.term .t_table li.li-nth-4.on {border-bottom: 2px solid #ff9000;}
.term .t_table li.on.li-nth-1 {width: 100%;}
.term .t_table li.on .table.d-nth-1 .t_cell {background: #fff5d2; color: #333;}
/* .term .t_table li.on .table:first-child .sale {display: none;} */
.term .t_table li.on .table.d-nth-3 {color: #f52700;}
.term .t_table li.on .table.d-nth-4 {color: #d32403;}
.term .t_table li.on .table.d-nth-3 .t_cell {font-weight: 800;} 

input[type="radio"].t_radio + span + label {position: relative; cursor: pointer; top: -6px; margin-right: 4px;}
input[type="radio"].t_radio + span {
  display: inline-block; cursor: pointer;  
  margin-right: 5px;
  position: relative; width: 30px; height: 30px;
  background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -88px;
}
input[type="radio"].t_radio + span.on {
  background: url("http://img.onbiz.co.kr/onb_picto.png") no-repeat center -118px;
}

/*임대상품선택 th등장*/
.term .t_th {position: relative; width: 100%; box-sizing: border-box; background: #ff9000; color: #fff; text-align: center; }
.term .t_th li {float: left; width: auto; border-left: 1px solid #fff; padding: 8px 0; font-size: 14px;}
.term .t_th li:first-child {width: 30%; border-left: none;}
.term .t_th li:first-child + li {width: 47%;}
.term .t_th li:first-child + li span {font-size: 12px;}
.term .t_th li:first-child + li + li {width: 23%; border-right: none;} 

.term .t_table li:last-child .table:first-child .t_cell input[type="radio"].t_radio + label {left: 5px;} 

/*예치금이란?*/
.term .t_table {margin-bottom: 5px;}

.ps, .ps2 {font-size: 14px; display: inline; letter-spacing: -1px; color: #444;}
.ps {margin-top: 20px;}
.ps span:first-child {font-weight: 600; color: #222; margin-right: 5px;}
.ps span:first-child + span {color: #f52700;}
.ps2 {padding-left: 0px; margin-top: 3px;}
.ps2 span {position: relative; text-decoration: underline;}

/* .option h3 span {display: none;} */
.option ul {position: relative; width: 100%;}
.option ul li, .option ul li.on  {width: 100%;}
.option ul li {display: table; position: relative; float:left; height: 55px; vertical-align: middle; border: 1px solid #ccc; color: #222; letter-spacing: -1px; cursor: pointer;}
.option ul li.on {background: #FFF5D2}
.option ul li:first-child,  
.option ul li:first-child + li,  
.option ul li:first-child + li + li, 
.option ul li:first-child + li + li + li, 
.option ul li.l5 {border-top: 1px solid #ccc;}
.option ul li:first-child + li, 
.option ul li:first-child + li + li + li {border-left: 1px solid #ccc;}
.option ul li:first-child, 
.option ul li:first-child + li, 
.option ul li:first-child + li + li,
.option ul li:first-child + li + li + li {border-bottom: none;}
.option ul li:first-child + li.on, 
.option ul li:first-child + li + li + li.on {width: 100%; margin-left: 0px;}
.option ul li:first-child.on, 
.option ul li:first-child + li.on, 
.option ul li:first-child + li + li.on, 
.option ul li:first-child + li + li + li.on, 
.option ul li.l5.on {border: 1px solid #ff9000; margin-top: 0;}
/* 클릭효과 없애기 */
.option ul li.l5, .option ul li:first-child + li + li + li {cursor: default;}
.option ul li.l5.on, .option ul li:first-child + li + li +li.on {border:1px solid #ccc; background: #fff;}
.option ul li:first-child.on + li,  
.option ul li:first-child + li.on + li,  
.option ul li:first-child + li + li.on + li,  
.option ul li:first-child + li + li + li.on + li,  
.option ul li.l5 + li {border-top: none;}


.option ul li p {position: relative; display: table-cell; text-align: center; vertical-align: middle; color: #333;}
.option ul li p:first-child {width: 13%;}
.option ul li p:first-child + p {width: 57%; font-size: 15px; text-align: left;}
.option ul li p:first-child + p span {display: block; font-size: 14px; text-align: left;}
.option ul li p:first-child + p + p span {color: #f52700; margin-left: 3px;}
.option ul li p:first-child + p + p:before {content: ""; position: absolute; top: 3px; left: 0; display: block; width: 1px; height: 50px; border-left: 1px dashed #999; }

.option ul li p:first-child + li + li {width: 30%;}
.option p {font-size: 13px; margin-top: 3px;}
/* .option ul > p {font-size: 13px; margin-top: 5px;}  */

input[type="checkbox"].o_check {position: relative; width: 14px; height: 14px;}
input[type="checkbox"].o_check + span + label {position: relative; display: inline-block; font-size: 11px; text-align: left; font-size: 13px;}
input[type="checkbox"].o_check + span {
  display: inline-block; overflow: hidden;
  position: relative; top: 4px; right: 3px; width: 18px; height: 18px; cursor: pointer;
  border: 1px solid #a9a9a9; background: #eee;
}
input[type="checkbox"].o_check + span img {display: none;}
input[type="checkbox"].o_check + span.on {background-color: #ff9000; border-color: #ff9000;}
input[type="checkbox"].o_check + span.on img { display: block;
  position: relative; top: -102px; left: -2px; width: 20px; 
}

/*결제수단 선택 영역*/
#m_way h3 {padding: 8px; margin: 0; font-weight: 600; font-size: 16px; color: #555; background: #f5f5f5; border-top: 1px solid #ccc;}
#m_way input[type="radio"] + label:before {position: absolute; left: -9999px;}
#m_way li {position: relative; width: 50%; margin: 0 auto; height: 80px; display: table; border: 1px solid #ccc; margin-top: 14px;}
#m_way li.on {border-color: #ff9000; background: #fff5d2; font-weight: 600;}
#m_way input[type="radio"] + label {display: table-cell; top: 0; left: 0; width: 100%; height: 100%; text-align: center; vertical-align: middle;} 


/*이용약관*/
#contents .terms {padding: 10px 0; margin-top: 8px; border-top: 1px dashed #ddd; border-bottom: none;}
.terms ul li {clear: both; width: 100%; padding-left: 8px;}
.terms li a {font-size: 15px;}
.terms li a:hover {text-decoration: underline;}

input[type="checkbox"].ts_check {position: relative; width: 14px; height: 14px;}
input[type="checkbox"].ts_check + span + label {position: relative; display: inline-block; font-size: 11px; text-align: left; font-size: 13px;}
input[type="checkbox"].ts_check + span {
  display: inline-block; overflow: hidden;
  position: relative; top: 3px; margin-right: 8px; width: 16px; height: 16px; cursor: pointer;
  border: 1px solid #a9a9a9; background: #eee;
}
input[type="checkbox"].ts_check + span img {display: none;}
input[type="checkbox"].ts_check + span.on {background-color: #ff9000; border-color: #ff9000;}
input[type="checkbox"].ts_check + span.on img { display: block;
  position: relative; top: -92px; left: -2px; width: 18px; 
}

/*카드 혜택*/
.card {display: none;} 

/*결제하실 금액*/
.price {position: relative; width: 100%; top: 0; left: 0; margin-left: 0px; margin-top: 0px; letter-spacing: -1px; background: #fff; border-top: 1px solid #000;}

.container {border: none; padding: 0px 5px;}
.container h3 {font-size: 16px; padding: 10px 10px 10px 5px; border-bottom: 1px dashed #b3b3b3; font-weight: 600;}
.container > ul {padding: 0; border-bottom: 1px solid #b3b3b3;}
.container > ul li:before, .container > ul li:after {content: ""; display: block;}
.container > ul li:after {clear: both;}
.container > ul li {position: relative; margin: 0; border: none;}
.container > ul li.lt {border-bottom: none;}

.container > ul li p {display: inline-block; float: right; font-size: 13px; line-height: 2.5em;}
.container > ul li p + p {letter-spacing: 0px;}
.container > ul li p:first-child {float: left;}
.container > ul li p + p {float: right; text-align: right;}
.container > ul.p_term li.lt {padding-bottom: 0; top: -6px;}
.container > .p_term li.lt p + p {width: 190px; line-height: 1.5em;}
.container > .p_term li.lt span {display: block;}
.container > .p_term li p + p {letter-spacing: -1px;}

.container > ul li p + p span {display: inline-block;}
.container > ul li p + p span:first-child {margin-top: 6px;}

.container > .p_startDate {border: none; padding: 0; margin: 6px 0 2px; background: none;}
.container > .p_startDate li {margin: 0;}
.container > .p_startDate li label {display: inline; font-size: 13px; margin-bottom: 5px; color: #222; letter-spacing: 0; position: relative; top: 5px;}
.p_startDate label span {display: inline;}

.container .selectBox {float: right; position: relative; right: 0; display: inline-block; width: 170px;}
.container .selectBox .s_btn {background: #f9f9f9; font-size: 12px; text-indent: 10px;}
.selectBox i.calandar_icon {width: 17px;  height: 18px;  top: 6px;}
.selectBox i.calandar_icon img {position: absolute; width: 17px; left: 0px; top: 0px;}

.container > .p_price {border-bottom-color: #d2d2d2;}
.container > .p_price li:first-child {margin: 0; /* padding: 0 0 0 5px; */ border-bottom: 1px dashed #d2d2d2;}
/* .container > .p_price li:first-child p {font-size: 15px; font-weight: 600;} */
/* .p_price li.lt p + p {color: #f93500;} */

.container > .p_total {background: none; padding: 15px 0 13px; border-bottom: none;}
.container > .p_total li {padding-left: 5px;}
/* .container > .p_total li:first-child {border-bottom: none;} */
/* .container > .p_total li:first-child p {display: none;} */
.container > .p_total li:first-child span {position: absolute; top: -4px; left: 5px; font-weight: 600;}
.container > .p_total p:first-child {font-size: 16px; line-height: 2.2em; font-weight: 600;}
.container > .p_total li p + p, .container > .p_total li.lt p {font-size: 13px; color: #4c4c4c; float:right;}
.container > .p_total li.lt p {font-size: 22px;  color: #f93500; font-weight: 800; line-height: 1em; letter-spacing: 0; margin-top: -6px;}
.container > .p_total li.lt p span:first-child {display: block; font-size: 12px; margin-top: 3px; text-align: right; font-weight: 400; color: #4c4c4c; line-height: 1em;}

/*결제하기 버튼, 약관동의*/
#panel {margin: 8px 5px 50px;}
input[type="checkbox"]#agree + span + label {position: relative; display: inline-block; font-size: 11px; text-align: left; font-size: 13px; top: -2px;}
input[type="checkbox"]#agree + span {
  display: inline-block; overflow: hidden;
  position: relative; top: 2px; margin-right: 5px; margin-left: 4px; width: 16px; height: 16px; cursor: pointer;
  border: 1px solid #a9a9a9; background: #eee;
}
input[type="checkbox"]#agree + span img {display: none;}
input[type="checkbox"]#agree + span.on {background-color: #ff9000; border-color: #ff9000;}
input[type="checkbox"]#agree + span.on img { display: block;
  position: relative; top: -92px; left: -2px; width: 18px; 
}
#panel > p {position: relative; padding: 3px 22px; background-color: #fff; border: 1px solid #dedede; transition: all 1s;}
#panel > p i {position: relative; left: 0px; top: 2px; display: inline-block; float:right; overflow: hidden; width: 20px; height: 22px; cursor: pointer;}
#panel > p i img {position: relative; width: 74px; top: 0px; left: -35px;}
/* 가리기/보이기 */
#panel > p {padding: 6px 10px;}
#panel > p label {font-size: 16px; width: auto;}
#panel > p label:before {position: relative; top: 2px; margin-right: 5px;}
#panel .txtara {display: none; position: relative; top: -1px; height: 64px; resize: none; text-align: left; padding: 5px 2px; border: 1px solid #dedede; overflow-y: scroll; overflow-x: hidden; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px;}
#panel .txtara li {padding: 0; font-size: 14px; font-weight: 400; line-height: 1.3em; text-indent: 14px;}
#panel .txtara .idt {text-indent: 0;}

.btn_wrap {padding: 0 5px;}
.p_btn {display: block; width: 100%; height: 50px; border-radius: 4px; text-align: center; font-size: 20px; color: #fff; background: #f62600; line-height: 2.6em; font-weight: 600;}
.p_btn + p {text-align: center; font-size: 15px; padding: 10px 0; color: #555;}
.p_btn + p span {color: #f62600;}
.ps3 {text-align: center; font-size: 15px; padding: 14px 0; color: #555;}
.ps3 span {color: #f62600;}

  

 @media all and (max-device-width: 320px){
  #m_way input[type="radio"] + label {font-size: 15px;}
  #main h3 {letter-spacing: -1px;}
  .term .table:first-child .t_cell, 
  .term .table:first-child + div .t_cell, 
  .term .table:first-child + div + div .t_cell, 
  .term .table:first-child + div + div + div .t_cell {font-size: 15px;}
} 

/* 삭제예정 */
/* 헤더영역 */
.headerOrigin {position: relative; width: 100%;height: 50px;background: #fff;}
.headerOrigin h1 {position: relative; top: -10px;}
.headerOrigin h1 a, .headerOrigin h1 span {position: relative; /* top: 8px; */ color: #302E2E; font-size: 28px; letter-spacing: -1px; }
.headerOrigin h1 a {margin-left: 3px;}
.headerOrigin h1 span {/* top: 7px; */ margin-left: 5px; font-size: 14px;}
.headerOrigin h1 + a {position: absolute; width: 25px; height: 22px; top: 14px; right: 10px; display: block; background-image: url("http://img.onbiz.co.kr/images/m/tab.jpg");}

.header {width:100%; height:60px; float:left; background-color:#3b3938;}
h2 {font-weight:bold; font-size:22px;  margin-top:10px; text-align:center; color: #ff8921;}
.header h2 span {font-size:18px;}
.h_txt_1 {font-size:13px; letter-spacing:-1px; text-align:center; color: #fff;}
/* .h_txt_2 {font-size:12px; float:right; color:rgb(255, 137, 33); padding-right:5px; padding-top:8px; letter-spacing:-1px;} */

/*컨텐츠영역*/
#contents h2 span {position: relative; top: 5px; display: inline-block; width: 18px; height: 18px; background-image: url("http://img.onbiz.co.kr/images/m/on_arrow.png"); background-repeat: no-repeat; background-size: 36px;}

/*Div팝업창 등장시 배경*/
#backDrop, #menu_wrap {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#backDrop {display: none; z-index: 20;background: rgba(0,0,0,.905);}
/* 전체 네비게이션 */
/*메뉴 영역*/
#menu_wrap {display: none; z-index: 21;}
.menu {color:#fff;}
.clsBtn, .ph, .mp, .chk_clsBtn {display: block; width: 40px;height: 40px;background-image:url("http://img.onbiz.co.kr/images/m/menuIcon.png"); background-repeat: no-repeat; background-size: 120px; }
.clsBtn, .chk_clsBtn {position: absolute;top: 7px; right: 5px; background-position: -80px 0px; }
.menu h2 {color: #fff; font-size: 24px; font-weight: 400; margin-top: 10px;}
.menu h3 {color: #FB7C00; font-weight: 400; font-size: 34px; text-align: center; margin-top: 60px;}
nav.gnb ul li {text-align: center; margin-top: 18px}
nav.gnb ul li:first-child {margin-top: 28px;}
nav.gnb a {color:#fff; font-size: 20px}
/*내역 조회 영역*/
.wrap_ntc {position:relative; width: 350px; height: 130px; margin: 0 auto; margin-top: 60px; border:1px solid #fff; border-radius: 2px; box-sizing: border-box;}
@media (max-width: 320px) {
  .wrap_ntc {width: 316px;}
}
.wrap_ntc li {float:left; text-align: center; width: 50%; box-sizing: border-box;}
.wrap_ntc li:first-child {border-right: 1px solid #fff; height: 100%;}
.wrap_ntc li a {color: #fff;}
.ph, .mp { margin: 0 auto; margin-top: 4px; background-position: 0px 0px; }
.mp {background-position: -40px 0;}
.ph + p, .mp + p {font-size: 14px; margin-bottom: 8px;}
.wrap_ntc p {line-height: 1.4em; font-weight: 600;}

/*전체 네비게이션 안에 메뉴박스 영역*/
.chk_wrap { position: relative; width: 350px; height: 210px; margin: 0 auto; margin-top: 20px;
background: #fff; border-radius: 4px;}
@media (max-device-width: 320px){
  .chk_wrap {width: 96%;}
}
.chk_clsBtn {position: absolute; top: -34px; right: 0px;}
.chk_wrap h2 {color:#424242; font-size: 20px; font-weight: 500; line-height: 1.9em; padding-top: 8px; border-bottom:1px solid #ccc;}
.chk_wrap ul {margin-top: 25px;}
.chk_wrap ul li {padding: 6px 20px; line-height: 2.4em;}
.chk_wrap label {display: inline-block; width: 30%; font-size: 16px;}
.chk_wrap input, .chk_wrap select {width: 66%; height: 40px; border-radius: 4px; border: 1px solid #666; text-indent: 5px;
box-sizing: border-box;}
/* 연락처만 설정_20170228_강혜준 */
.chk_wrap label {width: 23%;}
.chk_wrap ul li span {display: inline-block; width: 3%; text-align: center;}
.chk_wrap input {width: 23%; text-indent: 0; text-align: center;}

.chk_wrap select {text-indent: 0; width: 29%;}
.chk_wrap #chk_email {width: 29%;}
.chk_wrap #chk_email +  span {display: inline-block; width: 8%; text-align: center;}
.chk_wrap input::-webkit-input-placeholder { color: #666; }
.chk_wrap input::-ms-input-placeholder { color: #666; }
.chk_wrap input::-moz-input-placeholder { color: #666; }
.chk_wrap .chk_btn {color: #fff; font-size: 18px; line-height: 2.4em; width: 100%; margin: 0 auto; margin-top: 16px;border-radius: 4px; border: none; background: #FF8400; cursor: pointer;}

/*단계 bar*/
.inf_bar {position: relative; width: 100%;}
.inf_bar li {position: relative; float:left; height: 34px; line-height: 34px; background-color: #F3F3F3; font-size: 12px; font-weight: 500; color: #4C4C4C; text-align: center; width: 33.3%; text-indent: 5px; box-sizing: border-box;}
/* .inf_bar .ib0 {font-weight: 700; width: 40%; font-size: 14px; text-align: left;} */
@media(max-width: 320px) {
  .inf_bar li { letter-spacing: -1px; }
}
.inf_bar .ib2 {background-color: #D0D0D0;}
.inf_bar .ib1, .inf_bar .ib3 {background-color: #E0E0E0;}
.inf_bar li.on {background-color: #5B5B59; color: #fff;}
.inf_bar li:after {z-index: 1; position:absolute; top: 0; right: -25px; content: ""; display: block;
border:17px solid transparent;  border-left-color: #f3f3f3; border-left-width: 8px;}
.inf_bar li.on:after {border-left-color: #5B5B59;}
.inf_bar .ib0:after {border-left-color: #f3f3f3;}
.inf_bar .ib2:after {border-left-color: #d0d0d0;}
.inf_bar .ib3:after {display: none;}

/* inf_bar */
.inf_bar {border: none; background: none;}
.inf_bar li {width: 33.33%;}
.inf_bar li:after {width: auto; height: auto; background: none;}

.headerOrigin {padding-left: 0;}